<!-- Header -->
<app-staff-header></app-staff-header>

<div class="container-fluit mx-2 my-5 d-flex flex-column align-items-center">
  <h3 class="text-center mb-5">Đổi mật khẩu</h3>

  <div class="row w-100 d-flex flex-column align-items-center needs-validation">
    <div class="col-12 col-md-5 mb-3">
      <label for="exampleInput1" class="form-label"><b>Nhập mật khẩu cũ</b></label>
      <input type="password" class="form-control" id="exampleInput1" [(ngModel)]="oldPassword" required>
      <span class="help-block text-danger" *ngIf="incorrectOldPassword">
        Mật khẩu cũ không đúng
      </span>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <label for="exampleInput2" class="form-label"><b>Nhập mật khẩu mới</b></label>
      <input type="password" class="form-control" id="exampleInput2" [(ngModel)]="newPassword" required>
      <div class="invalid-feedback mb-3 d-block" *ngIf="emptyNewPassword">Không được để trống</div>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <label for="exampleInput3" class="form-label"><b>Nhập lại mật khẩu mới</b></label>
      <input type="password" class="form-control" id="exampleInput3" [(ngModel)]="retypePassword" required>
      <div class="invalid-feedback mb-3 d-block" *ngIf="EmptyRetypePassword">Không được để trống</div>
      <div class="invalid-feedback mb-3 d-block" *ngIf="notMatchNewPassword">Mật khẩu không khớp</div>
    </div>

    <div class="text-center col-12 col-md-5">
      <button class="btn btn-success w-50 mt-4" type="button" (click)="update()">Thay đổi</button>
    </div>
  </div>
</div>

<!-- Footer -->
<!-- <app-footer></app-footer> -->

<swal #updateSuccessAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Cập nhật thành công" icon="success">
</swal>
<swal #notLoginErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Vui lòng đăng nhập để xử dụng tính năng này!" icon="error">
</swal>
<swal #updateErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true" title="Lỗi Server"
  icon="error">
</swal>