<!-- Header -->
<app-staff-header></app-staff-header>

<div class="container-fluit mx-2 my-5 d-flex flex-column align-items-center">
  <h3 class="text-center mb-5">Đổi mật khẩu</h3>

  <form class="row w-100 d-flex flex-column align-items-center needs-validation" novalidate>
    <div class="col-12 col-md-5 mb-3">
      <label for="exampleInput1" class="form-label"><b>Nhập mật khẩu cũ</b></label>
      <input type="password" class="form-control" id="exampleInput1" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <label for="exampleInput1" class="form-label"><b>Nhập mật khẩu mới</b></label>
      <input type="password" class="form-control" id="exampleInput1" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <label for="exampleInput1" class="form-label"><b>Nhập lại mật khẩu mới</b></label>
      <input type="password" class="form-control" id="exampleInput1" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="text-center col-12 col-md-5">
      <button class="btn btn-success w-50 mt-4" type="submit">Thay đổi</button>
    </div>
  </form>
</div>

<!-- Footer -->
<app-footer></app-footer>
