<!-- Update Modal -->
<div class="modal fade bd-example-modal-lg" id="updateModal" tabindex="-1" role="dialog"
    aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Chỉnh sửa phòng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <!-- roomName -->
                        <div class="col-md-5">Tên Phòng
                            <br>
                            <input type="text" class="form-control" id="roomName" [(ngModel)]="roomDetail.roomName"
                                name="roomName">
                        </div>
                        <!-- area -->
                        <div class="col-md-5 ml-auto">Diện tích
                            <br>
                            <input type="text" class="form-control" id="areaByMeters"
                                [(ngModel)]="roomDetail.areaByMeters" name="areaByMeters">
                        </div>
                    </div>
                    <div class="row">
                        <!-- price -->
                        <div class="col-md-5">Giá tiền
                            <br>
                            <input type="text" class="form-control" id="pricePerMonth"
                                [(ngModel)]="roomDetail.pricePerMonth" name="pricePerMonth">
                        </div>
                        <!-- building -->
                        <div class="col-md-5 ml-auto">Tòa
                            <br>
                            <input type="text" class="form-control" id="buildingNumber"
                                [(ngModel)]="roomDetail.buildingNumber" name="buildingNumber">
                        </div>
                    </div>
                    <div class="row">
                        <!-- info -->
                        <div class="col-md-5">Thông tin
                            <br>
                            <input type="text" class="form-control" id="information"
                                [(ngModel)]="roomDetail.information" name="information">
                        </div>
                        <!-- floor -->
                        <div class="col-md-5 ml-auto">Tầng
                            <br>
                            <input type="text" class="form-control" id="floorNumber"
                                [(ngModel)]="roomDetail.floorNumber" name="floorNumber">
                        </div>
                    </div>
                    <div class="row">
                        <!-- current amount -->
                        <div class="col-md-5">Số người ở
                            <br>
                            <input type="text" class="form-control" id="currentAmountOfPeople"
                                value="{{roomDetail.currentAmountOfPeople}}" name="currentAmountOfPeople">
                        </div>
                        <div class="col-md-5 ml-auto "> Tiện ích
                            <div class="form-check">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="roomDetail.wifi"
                                            name="wifi" id="wifiChecked" [checked]="roomDetail.wifi">
                                        <label class="form-check-label" for="wifiChecked">
                                            Wifi
                                        </label>
                                        <br>
                                        <input class="form-check-input" type="checkbox"
                                            [(ngModel)]="roomDetail.waterHeater" id="waterHeaterChecked"
                                            name="waterHeaterChecked" [checked]="roomDetail.waterHeater">
                                        <label class="form-check-label" for="waterHeaterChecked">
                                            Nóng lạnh
                                        </label>
                                        <br>
                                    </div>
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="roomDetail.aircon"
                                            id="airconChecked" name="airconChecked" checked>
                                        <label class="form-check-label" for="airconChecked">
                                            Điều hòa
                                        </label>
                                        <br>
                                        <input class="form-check-input" type="checkbox"
                                            [(ngModel)]="roomDetail.furniture" id="furnitureChecked"
                                            name="furnitureChecked" checked>
                                        <label class="form-check-label" for="furnitureChecked">
                                            Nội thất
                                        </label>
                                        <br>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- status -->

                        <!-- <div class="col-md-5 ml-auto">Trạng thái
                            <br>

                            <select class="form-select" [(ngModel)]="statusSelected" name="Something">
                                <option selected *ngFor="let status of listStatus">{{status.statusName}}
                                </option>
                            </select>

                          
                        </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="updateRoom()">Lưu</button>
            </div>
        </div>
    </div>
</div>