<!-- Update Modal -->
<div class="modal fade bd-example-modal-lg" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="roomId != 0" class="modal-title" id="updateModalLabel">Chỉnh sửa phòng</h5>
                <h5 *ngIf="roomId == 0" class="modal-title" id="updateModalLabel">Them moi</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <!-- roomName -->
                        <div class="col-md-6">Tên Phòng
                            <br>
                            <input type="text" class="form-control" id="roomName" [(ngModel)]="roomDetail.roomName"
                                name="roomName">
                        </div>
                        <!-- area -->
                        <div class="col-md-6 ml-auto">Diện tích
                            <br>
                            <input type="text" class="form-control" id="areaByMeters"
                                [(ngModel)]="roomDetail.areaByMeters" name="areaByMeters">
                        </div>
                    </div>
                    <div class="row">
                        <!-- price -->
                        <div class="col-md-6">Giá tiền
                            <br>
                            <input type="text" class="form-control" id="pricePerMonth"
                                [(ngModel)]="roomDetail.pricePerMonth" name="pricePerMonth">
                        </div>
                        <!-- building -->
                        <div class="col-md-6 ml-auto">Tòa
                            <br>
                            <input type="text" class="form-control" id="buildingNumber"
                                [(ngModel)]="roomDetail.buildingNumber" name="buildingNumber">
                        </div>
                    </div>

                    <div class="row">
                        <!-- info -->
                        <div class="col-md-6">Thông tin
                            <br>
                            <input type="text" class="form-control" id="information"
                                [(ngModel)]="roomDetail.information" name="information">
                        </div>
                        <!-- floor -->
                        <div class="col-md-6 ml-auto">Tầng
                            <br>
                            <input type="text" class="form-control" id="floorNumber"
                                [(ngModel)]="roomDetail.floorNumber" name="floorNumber">
                        </div>
                    </div>
                    <div class="row">
                        <!-- info -->
                        <div class="col-md-6">Số người ở tối đa
                            <br>
                            <input type="text" class="form-control" id="maxAmountOfPeople"
                                [(ngModel)]="roomDetail.maxAmountOfPeople" name="maxAmountOfPeople">
                        </div>
                        <!-- floor -->
                        <div class="col-md-6 ml-auto">Trạng thái
                            <br>
                            <select [(ngModel)]="roomDetail.status.statusId" name="statusName" class="form-select"
                                aria-label="select-status">
                                <!-- List of Campuses to choose -->
                                <option *ngFor=" let status of listStatus" value="{{status.statusId}}">
                                    {{status.statusName}}</option>
                            </select>
                            <!-- <input type="text" class="form-control" id="status"
                                [(ngModel)]="roomDetail.status.statusName" name="status"> -->
                        </div>
                    </div>
                    <div class="row">
                        <!-- current amount -->
                        <div class="col-md-6">Số người ở
                            <br>
                            <input type="text" class="form-control" id="currentAmountOfPeople"
                                [(ngModel)]="roomDetail.currentAmountOfPeople" name="currentAmountOfPeople">
                        </div>
                        <div class="col-md-6 ml-auto "> Tiện ích
                            <div class="form-check">
                                <div class="row">
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="roomDetail.fridge"
                                            name="fridgeChecked" id="fridgeChecked" [checked]="roomDetail.fridge">
                                        <label class="form-check-label" for="fridgeChecked">
                                            Tủ lạnh
                                        </label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="roomDetail.kitchen"
                                            id="kitchenChecked" name="kitchenChecked" [checked]="roomDetail.kitchen">
                                        <label class="form-check-label" for="kitchenChecked">
                                            Bếp
                                        </label>
                                        <br>
                                    </div>
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox"
                                            [(ngModel)]="roomDetail.washingMachine" id="washingMachineChecked"
                                            name="washingMachineChecked" [checked]="roomDetail.washingMachine">
                                        <label class="form-check-label" for="washingMachineChecked">
                                            Máy giặt
                                        </label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="roomDetail.desk"
                                            id="deskChecked" name="deskChecked" [checked]="roomDetail.desk">
                                        <label class="form-check-label" for="deskChecked">
                                            Bàn học
                                        </label>
                                        <br>
                                    </div>
                                    <div class="col">
                                        <input class="form-check-input" type="checkbox"
                                            [(ngModel)]="roomDetail.noLiveWithHost" id="liveWithHostChecked"
                                            name="liveWithHostChecked" [checked]="roomDetail.noLiveWithHost">
                                        <label class="form-check-label" for="liveWithHostChecked">
                                            Chung chủ
                                        </label>
                                        <br>
                                        <input class="form-check-input" type="checkbox" [(ngModel)]="roomDetail.bed"
                                            id="bedChecked" name="bedChecked" [checked]="roomDetail.bed">
                                        <label class="form-check-label" for="bedChecked">
                                            Giường
                                        </label>
                                        <br>
                                    </div>

                                    <div class="col">
                                        <input class="form-check-input" type="checkbox"
                                            [(ngModel)]="roomDetail.closedToilet" id="closedToiletChecked"
                                            name="closedToiletChecked" [checked]="roomDetail.closedToilet">
                                        <label class="form-check-label" for="closedToiletChecked">
                                            Vệ sinh khép kín
                                        </label>
                                        <br>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- status -->

                        <!-- <div class="col-md-5 ml-auto">Trạng thái
                            <br>

                            <select class="form-select" [(ngModel)]="statusSelected" name="Something">
                                <option selected *ngFor="let status of listStatus">{{status.statusName}}
                                </option>
                            </select>


                        </div> -->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" (click)="updateRoom()">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center orangeBackround text-white">
                <h5 class="modal-title" id="updateModalLabel">Xác nhận xóa phòng</h5>
            </div>
            <div class="modal-body">
              Bạn chắc chắn muốn xóa phòng trọ này?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary w-25 me-3" data-bs-dismiss="modal">Hủy</button>
              <button type="button" class="btn btn-danger w-25" (click)="deleteRoom()">Xóa</button>
            </div>
        </div>
    </div>
</div>
