<!--Header-->
<app-landlord-header></app-landlord-header>
<form class="border border-top-0" [formGroup]="roomForm" (submit)="addRoom()">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="building">Tòa nhà</label>
            <div class="col-sm-9">
              <input class="form-control" id="building" type="number" min="1" formControlName="building" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="floor">Tầng</label>
            <div class="col-sm-9">
              <input class="form-control" id="floor" type="number" min="1" formControlName="floor" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="room-name">Tên phòng</label>
            <div class="col-sm-9">
              <input class="form-control" id="room-name" formControlName="roomName" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="room-type">Loại phòng</label>
            <div class="col-sm-9">
              <select class="form-select" id="room-type" formControlName="roomType">
                <option value="1">Khép kín</option>
                <option value="2">Không khép kín</option>
                <option value="3">Chung cư mini</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="price">Giá (VNĐ)</label>
            <div class="col-sm-9">
              <input class="form-control" type="number" id="price" min="0" formControlName="price" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="area">Diện tích (m&#178;)</label>
            <div class="col-sm-9">
              <input class="form-control" id="area" type="number" min="0" formControlName="area" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="max-people">Số người tối đa</label>
            <div class="col-sm-9">
              <input class="form-control" id="max-people" type="number" min="1" formControlName="maxPeople" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="current-people">Số người hiện tại</label>
            <div class="col-sm-9">
              <input class="form-control" id="current-people" type="number" min="0" formControlName="currentPeople" />
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="info">Thông tin</label>
            <div class="col-sm-9">
              <textarea class="form-control" id="info" formControlName="info"></textarea>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-3 form-label" for="room-type">Trạng thái</label>
            <div class="col-sm-9">
              <select class="form-select" id="room-type" formControlName="statusId">
                <option *ngFor="let status of listStatus" value="{{status.statusId}}">{{status.statusName}}</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row form-check">
            <div class="col-sm-3 form-check-inline">
              <label for="fridge">Tủ lạnh</label>
              <input class="form-check-input" id="fridge" type="checkbox" formControlName="fridge" />
            </div>
            <div class="col-sm-3 form-check-inline">
              <label for="kitchen">Bếp</label>
              <input class="form-check-input" id="kitchen" type="checkbox" formControlName="kitchen" />
            </div>
            <div class="col-sm-3 form-check-inline">
              <label for="washing-machine">Máy giặt</label>
              <input class="form-check-input" id="washing-machine" type="checkbox" formControlName="washingMachine" />
            </div>
            <div class="col-sm-3 form-check-inline">
              <label for="desk">Bàn</label>
              <input class="form-check-input" id="desk" type="checkbox" formControlName="table" />
            </div>
  
            <div class="col-sm-3 form-check-inline">
              <label for="bed">Giường</label>
              <input class="form-check-input" id="bed" type="checkbox" formControlName="bed" />
            </div>
            <div class="col-sm-3 form-check-inline">
              <label for="without-host">Không chung chủ</label>
              <input class="form-check-input" id="without-host" type="checkbox" formControlName="withoutHost" />
            </div>
            <div class="col-sm-3 form-check-inline">
              <label for="closed-toilet">Vệ sinh khép kín</label>
              <input class="form-check-input" id="closed-toilet" type="checkbox" formControlName="closedToilet" />
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="mb-3 row">
                <label for="exampleInput5" class="form-label"><b>Ảnh 1</b></label>
                <img src="{{roomForm.controls['image1'].value}}" class="w-100 h-50 mb-2 border rounded" alt="...">
                <label for="exampleInput5" class="form-label">Thay đổi ảnh</label>
                <div class="d-flex">
                    <input class="form-control" id="image-1" type="file" accept="image/*"
                    (change)="onImage1Change($event)" />
                <!-- <button class="btn btn-secondary ms-2" (click)="cancelChange(i)">Hủy</button> -->
                </div>
            </div>
            <div class="mb-3 row">
                <label for="exampleInput5" class="form-label"><b>Ảnh 2</b></label>
                <img src="{{roomForm.controls['image2'].value}}" class="w-100 h-50 mb-2 border rounded" alt="...">
                <label for="exampleInput5" class="form-label">Thay đổi ảnh</label>
                <div class="d-flex">
                    <input class="form-control" id="image-2" type="file" accept="image/*"
                    (change)="onImage2Change($event)" />
                <!-- <button class="btn btn-secondary ms-2" (click)="cancelChange(i)">Hủy</button> -->
                </div>
            </div>
            <div class="mb-3 row">
                <label for="exampleInput5" class="form-label"><b>Ảnh 3</b></label>
                <img src="{{roomForm.controls['image3'].value}}" class="w-100 h-50 mb-2 border rounded" alt="...">
                <label for="exampleInput5" class="form-label">Thay đổi ảnh</label>
                <div class="d-flex">
                    <input class="form-control" id="image-3" type="file" accept="image/*"
                    (change)="onImage3Change($event)" />
                <!-- <button class="btn btn-secondary ms-2" (click)="cancelChange(i)">Hủy</button> -->
                </div>
            </div>
            <div class="text-center col-12 col-md-4 mb-5">
                <button class="btn btn-success w-100 mt-4" type="submit">Chỉnh sửa</button>
              </div>
        </div>
      </div>
    </div>
  </form>
  <swal
    #addRoomAlert
    title="Cập nhật phòng"
    text="Cập nhật thông tin phòng thành công"
    icon="success"
    (confirm)="navDashboard()"
    >
  </swal>
  <swal #forbiddenAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true" title="Không có quyền chỉnh sửa"
    icon="error">
  </swal>
  <swal
    #serverErrorAlert
    [toast]="true"
    position="top-end"
    [timer]="3000"
    [timerProgressBar]="true"
    title="Lỗi Server"
    icon="error">
  </swal>