#link:hover
{
  text-decoration: underline !important;
}

@media only screen and (max-width: 768px) {
  #header1
  {
    width: 100% !important;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  #header2
  {
    width: 100% !important;
    margin-bottom: 5px;
  }
}
