<!--Header-->
<app-landlord-header></app-landlord-header>

<!-- Statistics -->
<div class="row" *ngIf="rooms">
  <div class="col-6 col-md-3 border">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 d-flex align-items-center text-danger">
        {{totallyAvailableRoom}}
      </div>
      <h6 class="font-weight-bold text-center">Phòng trống</h6>
    </div>
  </div>

  <div class="col-6 col-md-3 border">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 d-flex align-items-center text-danger">
        {{partiallyAvailableRoom}}
      </div>
      <h6 class="font-weight-bold text-center">Phòng trống một phần</h6>
    </div>
  </div>

  <div class="col-6 col-md-3 border">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 d-flex align-items-center text-danger">
        {{availableSlot}}
      </div>
      <h6 class="font-weight-bold text-center">Chỗ trống</h6>
    </div>
  </div>

  <div class="col-6 col-md-3 border">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 d-flex align-items-center text-danger">
        {{moneyForNotRentedRooms | currency:'VND':'symbol':'3.0'}}
      </div>
      <h6 class="font-weight-bold text-center">Tiền chưa cho thuê</h6>
    </div>
  </div>
</div>
<!-- End Statistics -->

<!-- Breadcrumb -->
<nav class="mx-2 mt-3 ps-3 fs-6" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-danger" onclick="history.back()" style="cursor: pointer;">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Danh sách phòng trọ</li>
  </ol>
</nav>

<!-- Only Display when House Detail is loaded -->
<!-- List available rooms -->
<div class="row m-2">
  <div class="col-12">
    <div class="my-4">
      <h3 class="text-center">Danh sách phòng</h3>

      <!-- Add Button -->
      <div class="my-4">
        <button class="btn btn-success d-flex justify-content-center align-items-center py-2" (click)="addRoom()">
          <i class="fa-solid fa-circle-plus fs-4 me-2"></i>
          <div>
            Thêm mới
          </div>
        </button>
      </div>

      <!-- Display Loading Spinner when List Rooms is not yet loaded -->
      <div class="container-fluid d-flex justify-content-center my-5" *ngIf="rooms === undefined">
        <mat-spinner color="warn"></mat-spinner>
      </div>

      <!-- Case: No data -->
      <div *ngIf="rooms && rooms.length == 0">
        <div class="emptyMesage text-center">Chưa có phòng trọ</div>
      </div>

      <!-- Case: Have data -->
      <div *ngIf="rooms && rooms.length != 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Tên phòng</th>
              <th scope="col">Giá phòng</th>
              <th scope="col" id="md">Tiện ích</th>
              <th scope="col" id="md">Diện tích</th>
              <th scope="col" id="md">Số người ở</th>
              <th scope="col">Trạng thái</th>
              <th scope="col">Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dataItem of rooms">
              <!-- Room name -->
              <td><b>{{dataItem.roomName}}</b></td>

              <!-- Price -->
              <td>{{dataItem.pricePerMonth | currency:'VND':'symbol':'3.0'}}</td>

              <!-- Utilities -->
              <td id="md">
                <div class="d-flex">
                  <div
                    *ngIf="dataItem.fridge == false && dataItem.kitchen == false && dataItem.washingMachine == false
                  && dataItem.desk == false && dataItem.noLiveWithHost == false && dataItem.bed == false && dataItem.closedToilet == false">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Không có tiện ích" style="cursor: pointer;">
                      block
                    </span>
                  </div>
                  <div *ngIf="dataItem.fridge == true">
                    <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Tủ lạnh" style="cursor: pointer;">
                      kitchen
                    </span>
                  </div>
                  <div *ngIf="dataItem.kitchen == true">
                    <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Bếp" style="cursor: pointer;">
                      multicooker
                    </span>
                  </div>
                  <div *ngIf="dataItem.washingMachine == true">
                    <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Máy giặt" style="cursor: pointer;">
                      local_laundry_service
                    </span>
                  </div>
                  <div *ngIf="dataItem.desk == true">
                    <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Bàn ghế" style="cursor: pointer;">
                      desk
                    </span>
                  </div>
                  <div *ngIf="dataItem.noLiveWithHost == true">
                    <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Không chung chủ" style="cursor: pointer;">
                      gite
                    </span>
                  </div>
                  <div *ngIf="dataItem.bed == true">
                    <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Giường" style="cursor: pointer;">
                      bed
                    </span>
                  </div>
                  <div *ngIf="dataItem.closedToilet == true">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Vệ sinh khép kín" style="cursor: pointer;">
                      wc
                    </span>
                  </div>
                </div>
              </td>

              <!-- Area -->
              <td id="md">{{dataItem.areaByMeters}} m<sup>2</sup></td>

              <!-- Amount of people -->
              <td id="md">
                <div class="row">
                  <div *ngFor='let in of peopleCounter(dataItem.currentAmountOfPeople); let i = index'
                    class="col-12 col-md-1">
                    <i class="fa-solid fa-user me-1"></i>
                  </div>
                  <div
                    *ngFor='let in of peopleCounter(dataItem.maxAmountOfPeople - dataItem.currentAmountOfPeople); let i = index'
                    class="col-12 col-md-1">
                    <i class="fa-regular fa-user me-1"></i>
                  </div>
                </div>
              </td>

              <!-- Room status -->
              <td>
                <!-- <label class="switch me-2">
                <input *ngIf="dataItem.status.statusName === 'Occupied' || dataItem.status.statusName === 'Disabled'"
                  type="checkbox">
                <input *ngIf="dataItem.status.statusName === 'Available'" type="checkbox" checked>
                <span class="slider round"></span>
              </label> -->
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked"
                    [checked]="dataItem.status.statusName === 'Available'"
                    [disabled]="dataItem.status.statusName === 'Disabled'"
                    (change)="onStatusRoomSelected($event, dataItem.roomId)">
                  <label class="form-check-label" for="flexSwitchCheckChecked">
                    <!-- <span>{{dataItem.status.statusName}}</span> -->
                    <span *ngIf="dataItem.status.statusName === 'Available'">Còn Trống</span>
                    <span *ngIf="dataItem.status.statusName === 'Occupied'">Đã thuê</span>
                    <span *ngIf="dataItem.status.statusName === 'Disabled'">Không dùng được</span>
                  </label>
                </div>
              </td>
              <td>
                <!-- CRUD button -->
                <a class="text-decoration-none text-warning me-3" (click)="updateRoom(dataItem.roomId)" style="cursor: pointer;">
                  <i class="fa-solid fa-pen fs-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa">
                  </i>
                </a>
                <a class="text-decoration-none text-danger" [swal]="{ title: 'Xác nhận xóa', text: 'Bạn muốn xóa phòng '+dataItem.roomName, showCancelButton: true }" (confirm)="deleteRoom(dataItem.roomId)" style="cursor: pointer;">
                  <i class="fa-solid fa-trash fs-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Footer -->
<!-- <app-footer></app-footer> -->
