.phoneOn
{
  cursor: pointer;
  text-decoration: none;
}

.phoneOn :hover
{
  opacity: 0.5;
}

.phoneOff
{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.reply
{
  cursor: pointer;
}

.reply:hover
{
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  #md
  {
    display: none;
  }
}

#btn:hover
{
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

#btn:active
{
  background-color: rgb(147, 147, 147);
  border-radius: 5px;
}

#link:hover
{
  text-decoration: underline !important;
}

@media only screen and (max-width: 768px) {
  #header1
  {
    width: 100% !important;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  #header2
  {
    width: 100% !important;
    margin-bottom: 5px;
  }
}

.emptyMesage{
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 15pt;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
