.phoneOn
{
  cursor: pointer;
  text-decoration: none;
}

.phoneOn :hover
{
  opacity: 0.5;
}

.phoneOff
{
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.reply
{
  cursor: pointer;
}

.reply:hover
{
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  #md
  {
    display: none;
  }
}

#btn:hover
{
  opacity: 0.8 !important;
}
