@media only screen and (max-width: 768px) {
  #menu1
  {
    display: none;
  }

  #menu2
  {
    display: inline !important;
  }
}

@media only screen and (max-width: 768px) {
  #md
  {
    display: none;
  }
}

#btn:hover
{
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

#btn:active
{
  background-color: rgb(147, 147, 147);
  border-radius: 5px;
}
