@media only screen and (max-width: 768px) {
  #menu1
  {
    display: none;
  }

  #menu2
  {
    display: inline !important;
  }
}

@media only screen and (max-width: 768px) {
  #md
  {
    display: none;
  }
}

#btn:hover
{
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

#btn:active
{
  background-color: rgb(147, 147, 147);
  border-radius: 5px;
}

.clearSearchBtn{
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  background-color: white;

  span{
    color: #6c757d;
  }
}

// Dark Paging
.page-link {
  color: black;
}

.page-link.active {
  color: white !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

// hover effect for <a> in Paging
.hoverableLink:hover {
  cursor: pointer;
}

// For display footer at bottom (removed)
.emptyMesage{
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 15pt;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
