<app-landlord-header></app-landlord-header>

<!-- Breadcrumb -->
<nav class="mx-2 mx-md-5 mt-3 fs-6" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-danger" onclick="history.back(); history.back()" style="cursor: pointer;">Trang chủ</a></li>
    <li class="breadcrumb-item"><a class="text-danger" onclick="history.back()" style="cursor: pointer;">Danh sách phòng trọ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thêm phòng trọ</li>
  </ol>
</nav>

<div class="mx-2 mx-md-5 my-5">
    <!-- Tabs -->
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="single-tab" data-bs-toggle="tab" data-bs-target="#single" type="button" role="tab" aria-controls="single" aria-selected="true" style="font-size: 20px;" (click)="updateForm('single')">Thêm 1 phòng</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="multiple-tab" data-bs-toggle="tab" data-bs-target="#multiple" type="button" role="tab" aria-controls="multiple" aria-selected="false" style="font-size: 20px;" (click)="updateForm('multiple')">Thêm nhiều phòng</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="single" role="tabpanel" aria-labelledby="single-tab">
                    <app-single></app-single>
                </div>
                <div class="tab-pane fade show active" id="multiple" role="tabpanel" aria-labelledby="multiple-tab">
                    <app-multiple></app-multiple>
                </div>
            </div>
        </div>
    </div>

    <!-- Submit button -->
    <div class="row d-flex justify-content-end p-0 my-2">
        <div class="col-2">
            <button type="button" class="btn btn-secondary btn-lg form-control" (click)="submitForm()">
                Thêm mới
            </button>
        </div>
    </div>
</div>
<!-- <app-footer></app-footer> -->
