<div class="container-fluit m-5 d-flex flex-column align-items-center">
  <h3 class="text-center mb-4">Đổi mật khẩu</h3>

  <form class="row w-50 d-flex justify-content-around needs-validation" novalidate>
    <div class="mb-3">
      <label for="exampleInput1" class="form-label"><b>Nhập mật khẩu cũ</b></label>
      <input type="password" class="form-control" id="exampleInput1" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="mb-3">
      <label for="exampleInput1" class="form-label"><b>Nhập mật khẩu mới</b></label>
      <input type="password" class="form-control" id="exampleInput1" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="mb-3">
      <label for="exampleInput1" class="form-label"><b>Nhập lại mật khẩu mới</b></label>
      <input type="password" class="form-control" id="exampleInput1" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="text-center col-12">
      <button class="btn btn-success w-50 mt-4" type="submit">Thay đổi</button>
    </div>
  </form>
</div>
