<div class="container">
    <div class="row m-0 p-0">
        <button class="border-0 m-3 form-control" style="height: 50px; width: 300px; background-color: #BCBAB5;" (click)="downloadTemplate()">
            <span class="me-3"><i class="fa-solid fa-download"></i></span> Download Template
        </button>
        <button class="border-0 m-3 form-control" style="height: 50px; width: 300px; background-color: #BCBAB5;">
            <span class="me-3"><i class="fa-solid fa-upload"></i></span> Upload Template
        </button>
    </div>
    <div class="row"></div>
</div>
