// Result boxes
#resultProgressBar {
    height: 10px;
}

#resultUploadFile {
    height: 50px;
}

#resultUploadFolder {
    height: 60vh;
    overflow-y: auto;
}

#resultImageItem {
    height: 35px;
}