<div class="container">
    <div class="row m-0 p-0 d-flex justify-content-center">
        <div class="col-10">
            <div class="row m-3 mb-5">
                <div class="col-6">
                    <button class="border-0 m-0 form-control"
                        style="height: 50px; width: 300px; background-color: #BCBAB5;" (click)="downloadTemplate()">
                        <span class="me-3"><i class="fa-solid fa-download"></i></span> Tải xuống mẫu điền thông tin phòng trọ
                    </button>
                </div>
                <div class="col-6 d-flex align-items-end" [ngClass]="{'d-none' : !progressDisplay}">
                    <mat-progress-bar class="row mt-3" style="height: 10px;" mode="determinate"
                        [value]="matProgressBarValue"></mat-progress-bar>
                </div>
            </div>
            <div class="row m-3">
                <div class="col-6">
                    <button class="border-0 m-0 p-0 form-control"
                        style="height: 50px; width: 300px; background-color: #BCBAB5;">
                        <label for="room-data-file"
                            style="height: 40px; width: 290px; background-color: #BCBAB5; text-align: center; display: flex; align-items: center; justify-content: center;">
                            <span class="me-3"><i class="fa-solid fa-upload"></i></span> Tải lên thông tin phòng trọ
                        </label>
                    </button>
                </div>
                <input type="file" id="room-data-file" class="d-none" accept=".xlsx"
                    (change)="onTemplateChange($event)" />
                <div class="col-6 border border-1 rounded" style="height: 100px;" #templateFile>{{file.name}}</div>
            </div>
            <div class="row m-3">
                <div class="col-6">
                    <button class="border-0 m-0 p-0 form-control"
                        style="height: 50px; width: 300px; background-color: #BCBAB5;">
                        <label for="room-images"
                            style="height: 40px; width: 290px; background-color: #BCBAB5; text-align: center; display: flex; align-items: center; justify-content: center;">
                            <span class="me-3"><i class="fa-solid fa-upload"></i></span> Tải lên thư mục ảnh phòng trọ
                        </label>
                    </button>
                </div>
                <div class="col-6">
                    <div class="row border border-1 rounded" style="height: 350px; overflow-y: auto;" #imageFiles>
                        <div class="col-5 m-2 border border-1 rounded" style="height: 35px;"
                            *ngFor="let image of imageNames">{{image}}</div>
                    </div>
                </div>
                <input type="file" id="room-images" class="d-none" accept="image/*" (change)="onImagesChange($event)"
                    webkitdirectory />
            </div>
        </div>
    </div>
    <div class="row"></div>
</div>

<!-- Alerts -->
<!-- <swal #serverErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true" title="Lỗi Server"
    icon="error">
</swal>
<swal #dataAndImageNotFound [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
    title="Thông tin phòng của ảnh không có trong dữ liệu được upload" icon="error">
</swal>
<swal #uploadSuccess title="Upload thành công" text="Bạn đã upload thành công thông tin nhà trọ!" icon="success"
    [focusCancel]="true">
</swal> -->
<swal #uploadSuccess title="Đăng tải thành công"
  text="Bạn đã đăng tải thông tin phòng trọ thành công."
  icon="success" [focusCancel]="true" (confirm)="backToPreviousPage()">
</swal>