<app-landlord-header></app-landlord-header>

<div class="container-fluit mx-2 my-5 d-flex flex-column align-items-center">
  <h3 class="text-center mb-5">Cập nhật thông tin chủ trọ</h3>

  <form class="row w-100 d-flex flex-column align-items-center needs-validation" novalidate *ngIf="landlordDetail">
    <div class="col-12 col-md-5 mb-3">
      <label for="inputName" class="form-label"><b>Họ và tên</b></label>
      <input type="text" class="form-control" name="name" [(ngModel)]="updateName" placeholder="Nhập họ và tên"
        id="inputName" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <label for="inputPhone" class="form-label"><b>Số điện thoại</b></label>
      <input type="phoneNumber" class="form-control" name="phoneNumber" [(ngModel)]="updatePhoneNumber"
        placeholder="Nhập số điện thoại" id="inputPhone" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <label for="inputFacebook" class="form-label"><b>Link Facebook</b></label>
      <input type="facebookUrl" class="form-control" name="facebookUrl" [(ngModel)]="updateFacebookUrl"
        placeholder="Nhập link Facebook" id="inputFacebook" required>
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <div>
        <label for="inputIDCardFront" class="form-label"><b>Ảnh CCCD mặt trước</b></label>
      </div>
      <div>
        <img src="{{updateIdentityCardFrontSideImageLink}}" class="w-50 h-50 mb-2 border rounded">
      </div>
      <input class="form-control" id="inputIDCardFront" type="file" (change)="displayImage($event,'front')">
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="col-12 col-md-5 mb-3">
      <div>
        <label for="inputIDCardBack" class="form-label"><b>Ảnh CCCD mặt sau</b></label>
      </div>
      <div>
        <img src="{{updateIdentityCardBackSideImageLink}}" class="w-50 h-50 mb-2 border rounded">
      </div>
      <input class="form-control" id="inputIDCardBack" type="file" (change)="displayImage($event,'back')">
      <div class="invalid-feedback mb-3">Không được để trống</div>
    </div>

    <div class="text-center col-12 col-md-5">
      <button class="btn btn-success w-50 mt-4" type="button" (click)="update()">Thay đổi</button>
    </div>
  </form>
</div>

<!-- <app-footer></app-footer> -->

<swal #updateSuccessAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Cập nhật thành công" icon="success" (willClose)="this.goBack()">
</swal>
<swal #updateErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Vui lòng đăng nhập để xử dụng tính năng này!" icon="error">
</swal>