<div class="container my-5">
  <div class="d-flex">
    <div class="w-50 d-flex flex-column me-3">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/002/042/706/small/wooden-cartoon-country-house-vector.jpg" alt=""
      width="max" height="400" class="rounded">

      <div class="border border-dark rounded mt-3 p-2">
        <h3 class="text-center mb-2">Thông tin chủ trọ</h3>
        Tên: Lê Thanh Tâm <br>
        Email: tamle@gmail.com <br>
        Số điện thoại: 0987654321 <br>
        Facebook: <a href="facebook.com/tamle12">facebook.com/tamle12</a>
      </div>
    </div>

    <div class="w-50 d-flex flex-column">
      <div class="border border-dark rounded p-2 h-100">
        <h3 class="text-center mb-2">Thông tin mô tả</h3>
        Chi phí trọn gói, miễn phí hoàn toàn tiền điện, nước, gửi xe, Internet,…

        Đầy đủ tiện nghi, mỗi phòng được trang bị đầy đủ điều hòa, giường, tủ quần áo, nóng lạnh, tủ lạnh,…Chỉ cần xách vali đến ở!

        Có WC riêng cho từng phòng cùng nhiều WC dự phòng. Không lo cảnh chen chúc chờ đợi nhau vào mỗi buổi sáng.

        Có khu vực nhà bếp và nhà ăn tách biệt khỏi phòng ngủ, sạch sẽ, rộng rãi.

        Vị trí thuận lợi: gần trường Đại học Nông nghiệp, Vinhomes Ocean Park, gần chợ, các quán ăn uống, café,…

        An ninh tuyệt đối: hệ thống camera 24/7, cửa khóa vân tay.

        Dịch vụ dọn vệ sinh 2 tuần/lần miễn phí.

        Môi trường thân thiện: bạn có thể kết bạn, giao lưu với những người bạn cùng nhà; cùng nhau học tập, làm việc và vui chơi.
      </div>
    </div>
  </div>
</div>
