// .roomImage {
//     height: 1000px;
// }

.phoneOn {
    cursor: pointer;
    text-decoration: none;
}

.phoneOn :hover {
    opacity: 0.5;
}

.phoneOff {
    text-decoration: none;
    color: black;
}