<p>list-room works!</p>

<div class="row">
  <button>Thêm phòng</button>
  <div></div>
</div>

<div class="row">
  <!-- Loại phòng -->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Loại phòng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>Khép kín</li>
      </ul>
    </div>
  </div>

  <!-- Tầng -->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tầng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>Khép kín</li>
      </ul>
    </div>
  </div>

  <!-- Tình trạng -->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tình trạng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>Khép kín</li>
      </ul>
    </div>
  </div>

  <!-- Tình trạng -->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tình trạng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>Khép kín</li>
      </ul>
    </div>
  </div>

  <!-- Tình trạng -->
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tình trạng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>Khép kín</li>
      </ul>
    </div>
  </div>
</div>
