<div class="row add-button">
  <!-- Search bar -->
  <input type="text" placeholder="Search..">
  <!-- Add room button -->
  <button id="addRoom">Thêm phòng</button>
</div>

<div class="row filter">
  <!-- Loại phòng -->
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Loại phòng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>Khép kín</li>
      </ul>
    </div>
  </div>

  <!-- Tầng -->
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tầng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>1</li>
      </ul>
    </div>
  </div>

  <!-- Tình trạng -->
  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Tình trạng
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul>
        <li>Trống</li>
      </ul>
    </div>
  </div>

  <!-- Button -->
  <button id="filter-button">Lọc</button>
</div>

<!-- List of rooms  -->
<div class="row room-table">
  <h3>Danh sách phòng trống</h3>
  <table>
    <thead>
      <th>Tên phòng</th>
      <th>Giá phòng</th>
      <th>Diện tích</th>
      <th>Điều hòa</th>
      <th>Số người tối đa</th>
      <th>Số người đang ở</th>
      <th>Trạng thái</th>
    </thead>
    <tbody>
      <tr>
        <td>101</td>
        <td>2.000.000 VNĐ</td>
        <td>12 m2</td>
        <td>Có</td>
        <td>4</td>
        <td>2</td>
        <td>Trống</td>
      </tr>
    </tbody>
  </table>
</div>
