<form>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="building">Tòa nhà</label>
          <div class="col-sm-10">
            <input class="form-control" id="building" type="number">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="floor">Tầng</label>
          <div class="col-sm-10">
            <input class="form-control" id="floor" type="number">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="room-name">Tên phòng</label>
          <div class="col-sm-10">
            <input class="form-control" id="room-name">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="price">Giá</label>
          <div class="col-sm-10">
            <input class="form-control" id="price"></div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="info">Thông tin</label>
          <div class="col-sm-10">
            <input class="form-control" id="info">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-10">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-10">
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="mb-3 row">
          <div class="col-sm-10">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-10">
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-sm-10">
          </div>
        </div>
        <!-- Upload image -->
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="image-1">Ảnh 1</label>
          <div class="col-sm-10">
            <input id="image-1" type="file" accept="image/*">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="image-2">Ảnh 2</label>
          <div class="col-sm-10">
            <input id="image-2" type="file" accept="image/*">
          </div>
        </div>
        <div class="mb-3 row">
          <label class="col-sm-2 form-label" for="image-3">Ảnh 3</label>
          <div class="col-sm-10">
            <input id="image-3" type="file" accept="image/*">
          </div>
        </div>
        <!-- End upload image -->
      </div>
    </div>
  </div>

  <br>
  <label class="form-label" for="area">Diện tích</label>
  <input id="area" type="number">
  <br>
  <label class="form-label" for="max-people">Số người tối đa</label>
  <input id="max-people" type="number">
  <br>
  <label class="form-label" for="current-people">Số người hiện tại</label>
  <input id="current-people" type="number">
  <br>
  <br>

  <label for="room-type">Loại phòng</label>
  <select id="room-type">
      <option value="1">Khép kín</option>
      <option value="2">Không khép kín</option>
      <option value="3">Chung cư mini</option>
  </select>

  <br>
  <br>
  <label for="fridge">Tủ lạnh</label>
  <input id="fridge" type="checkbox">
  <br>
  <label for="kitchen">Bếp</label>
  <input id="kitchen" type="checkbox">
  <br>
  <label for="washing-machine">Máy giặt</label>
  <input id="washing-machine" type="checkbox">
  <br>
  <label for="desk">Bàn</label>
  <input id="desk" type="checkbox">
  <br>
  <label for="without-host">Không chung chủ</label>
  <input id="without-host" type="checkbox">
  <br>
  <label for="bed">Giường</label>
  <input id="bed" type="checkbox">
  <br>
  <label for="closed-toilet">Vệ sinh khép kín</label>
  <input id="closed-toilet" type="checkbox">
</form>
