//House Card Item on Hover -> Clickable
.houseCardItem {
  cursor: pointer;
  margin: 10px 0;

  .card-body {
    background-color: #3E4F3C;
  }
}

.houseCardItem:hover {
  // scale: 1.1;
  // z-index: 99;

  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
