<!-- Header -->
<app-landlord-header></app-landlord-header>

<!-- Statistics -->
<div class="row" *ngIf="houses.length != 0">
  <div class="col-12 col-md-4 border">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 d-flex align-items-center text-danger">
        {{houseCount}}
      </div>
      <h6 class="font-weight-bold text-center">Nhà</h6>
    </div>
  </div>

  <div class="col-12 col-md-4 border">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 d-flex align-items-center text-danger">
        {{roomCount}}
      </div>
      <h6 class="font-weight-bold text-center">Phòng</h6>
    </div>
  </div>

  <div class="col-12 col-md-4 border">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="fs-4 d-flex align-items-center text-danger">
        {{roomAvailableCount}}
      </div>
      <h6 class="font-weight-bold text-center">Phòng trống</h6>
    </div>
  </div>
</div>
<!-- End Statistics -->

<!-- Body -->
<div class="row m-2">
  <!-- Main Content -->
  <div class="col-12">
    <div class="my-4">
      <h3 class="text-center">Danh sách nhà trọ</h3>

      <!-- Add button -->
      <div class="my-4">
        <button class="btn btn-success d-flex justify-content-center align-items-center py-2" (click)="addHouse()">
          <i class="fa-solid fa-circle-plus fs-4 me-2"></i>
          <div>
            Thêm mới
          </div>
        </button>
      </div>

      <!-- Case: No data -->
      <div *ngIf="houses.length <= 0">
        <div class="emptyMesage text-center">Chưa có nhà trọ</div>
      </div>

      <!-- Case: Have data -->
      <div *ngIf="houses.length > 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" id="md">STT</th>
              <th scope="col">Tên nhà trọ</th>
              <th scope="col" id="md">Tiền chưa cho thuê</th>
              <th scope="col" id="md">
                <div class="row">
                  <div class="col">
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Phòng trống hoàn toàn"
                      style="cursor: pointer;">
                      <i class="fa-regular fa-user me-1"></i>
                      <i class="fa-regular fa-user"></i>
                    </span>
                  </div>
                  <div class="col">
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Phòng trống một phần"
                      style="cursor: pointer;">
                      <i class="fa-solid fa-user me-1"></i>
                      <i class="fa-regular fa-user"></i>
                    </span>
                  </div>
                  <div class="col">
                    <span data-bs-toggle="tooltip" data-bs-placement="top" title="Tổng chỗ trống"
                      style="cursor: pointer;">
                      <i class="fa-solid fa-bed"></i>
                    </span>
                  </div>
                </div>
              </th>
              <th scope="col" id="md">Tiện ích</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dataItem of houses; let i=index;" (click)="viewHouse(dataItem.houseId)"
              style="cursor: pointer;">
              <td id="md"><b>{{i+1}}</b></td>

              <!-- House name -->
              <td>{{dataItem.houseName}}</td>

              <!-- Money not for rented rooms -->
              <td id="md">
                <app-dashboard-info [houseId]="dataItem.houseId"></app-dashboard-info>
              </td>

              <!-- Statistics -->
              <td id="md">
                <app-list-house-info [houseId]="dataItem.houseId"></app-list-house-info>
              </td>

              <!-- Utilities -->
              <td id="md">
                <div class="d-flex">
                  <div
                    *ngIf="dataItem.fingerprintLock == false && dataItem.camera == false && dataItem.parking == false">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Không có tiện ích" style="cursor: pointer;">
                      block
                    </span>
                  </div>
                  <div *ngIf="dataItem.fingerprintLock == true">
                    <span class="material-symbols-outlined me-1" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Khóa vân tay" style="cursor: pointer;">
                      fingerprint
                    </span>
                  </div>
                  <div *ngIf="dataItem.camera == true">
                    <span class="material-symbols-outlined me-1" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Camera an ninh" style="cursor: pointer;">
                      videocam
                    </span>
                  </div>
                  <div *ngIf="dataItem.parking == true">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Chỗ để xe" style="cursor: pointer;">
                      local_parking
                    </span>
                  </div>
                </div>
              </td>

              <!-- CRUD Buttons -->
              <td>
                <div class="d-flex">
                  <a class="text-decoration-none text-primary me-3" (click)="viewRate(dataItem.houseId)"
                    style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="Xem đánh giá">
                    <i class="fa-solid fa-star fs-4"></i>
                  </a>
                  <a class="text-decoration-none text-warning me-3" (click)="updateHouse(dataItem.houseId)"
                    style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỉnh sửa">
                    <i class="fa-solid fa-pen fs-4"></i>
                  </a>
                  <a class="text-decoration-none text-danger" (click)="deleteHouse(dataItem.houseId)"
                    data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-whatever="@getbootstrap"
                    style="cursor: pointer;">
                    <i class="fa-solid fa-trash fs-4" data-bs-toggle="tooltip" data-bs-placement="top" title="Xóa"></i>
                  </a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- End Main content -->
</div>
<!-- End Body -->

<app-delete-house [houseId]="houseId"></app-delete-house>

<!-- Footer -->
<!-- <app-footer></app-footer> -->