<!-- Body -->
<div class="container mb-5 d-flex justify-content-center">
  <!-- Main Content -->
  <div class="row w-100 d-flex justify-content-between">

    <!-- Display Houses -->
    <div>
      <!-- Rooms Count Available -->
      <!-- <div class="text-center">
        <div class="font-weight-bold">Tổng số tòa: {{houseCount}} tòa</div>
        <div class="font-weight-bold">Số phòng trống/Tổng số phòng: {{roomAvailableCount}}/{{roomCount}} phòng</div>
      </div> -->
      <!-- End Rooms Count Available -->

    <!-- List available rooms -->
    <div class="container col-12"  *ngIf="houses.length == 0">
      <h3 class="text-center my-5">Chưa có nhà trọ</h3>
    </div>
    <div class="container col-12"  *ngIf="houses.length != 0">
      <h3 class="text-center my-5">Danh sách nhà trọ</h3>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Tên nhà trọ</th>
            <th scope="col">Tiện ích</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of houses">
            <!-- House id -->
            <td><b>{{dataItem.houseId}}</b></td>

            <!-- House name -->
            <td>{{dataItem.houseName}}</td>

            <!-- Utilities -->
            <td>
              <div class="d-flex">
                <div *ngIf="dataItem.fingerprintLock == true">
                  <button type="button" class="btn btn-outline-dark me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Khóa vân tay">
                    <i class="fa-solid fa-hand-point-up"></i>
                  </button>
                </div>
                <div *ngIf="dataItem.camera == true">
                  <button type="button" class="btn btn-outline-dark me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Camera an ninh">
                    <i class="fa-solid fa-house-lock"></i>
                  </button>
                </div>
                <div *ngIf="dataItem.parking == true">
                  <button type="button" class="btn btn-outline-dark me-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Chỗ để xe">
                    <i class="fa-solid fa-square-parking"></i>
                  </button>
                </div>
              </div>
            </td>

            <td>
              <!-- Detail button -->
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal"
                data-whatever="@getbootstrap" (click)="viewHouse(dataItem.houseId)">Xem chi tiết</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- End List of Rooms -->

      <!-- Paging -->
      <!-- End Paging -->
    </div>
    <!-- End Display Houses -->
  </div>
  <!-- End Main content -->
</div>
<!-- End Body -->
