//House Card Item on Hover -> Clickable
.houseCardItem {
  cursor: pointer;
  margin: 10px 0;

  .card-body {
    background-color: #3E4F3C;
  }
}

.houseCardItem:hover {
  // scale: 1.1;
  // z-index: 99;

  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 860px) {
  #md
  {
    display: none;
  }
}

#btn:hover
{
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

#btn:active
{
  background-color: rgb(147, 147, 147);
  border-radius: 5px;
}

#link:hover
{
  text-decoration: underline !important;
}

@media only screen and (max-width: 768px) {
  #header1
  {
    width: 100% !important;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  #header2
  {
    width: 100% !important;
    margin-bottom: 5px;
  }
}

// @media only screen and (min-width: 768px) and (max-width: 1600px){
//   .emptyMesage{
//     min-height: 18rem !important;
//   }
// }

// @media only screen and (min-width: 1600px ) {
//   .emptyMesage{
//     min-height: 29rem !important;
//   }
// }

// For display footer at bottom (removed)
.emptyMesage{
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 15pt;
  margin-top: 3vh;
  margin-bottom: 3vh;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
