<!--Header-->
<div class="navbar nav d-flex justify-content-between text-white"
style="background-color: #FF6F3D;">

<div class="col-12 col-md-9 my-2">
  <div id="link">
    <a href="/Staff/dashboard" class="text-white text-decoration-none mx-2">Dashboard</a>|
    <a href="/Staff/list-landlord"  class="text-white text-decoration-none mx-2">Danh sách</a>|
    <a href="/Staff/list-report" class="text-white text-decoration-none mx-2">Báo cáo</a>|
    <a href="/Staff/list-landlord-signup-request" class="text-white text-decoration-none mx-2">Chủ trọ đăng ký</a>|
    <a href="/Staff/list-order" class="text-white text-decoration-none mx-2">Nguyện vọng</a>
  </div>
</div>

<div class="col-12 col-md-3 d-flex justify-content-center align-items-center my-1">
  <div>Chủ trọ</div>
  <button class="btn btn-light mx-3" id="loginButton" (click)="login()">Đăng xuất</button>
</div>
