<!--Header-->
<div>
  <div class="navbar nav d-flex justify-content-between text-white orangeBackround">

  <div class="col-12 col-md-9">
    <div id="link">
      <a *ngIf="!isDashboardRoute()" href="/Staff/dashboard" class="text-white text-decoration-none mx-2">Dashboard</a>
      <a *ngIf="isDashboardRoute()" href="/Staff/dashboard" class="text-white text-decoration-underline mx-2">Dashboard</a>

      <a *ngIf="!isListLandlordRoute()" href="/Staff/list-landlord" class="text-white text-decoration-none mx-2">Danh sách chủ trọ</a>
      <a *ngIf="isListLandlordRoute()" href="/Staff/list-landlord" class="text-white text-decoration-underline mx-2">Danh sách chủ trọ</a>

      <a *ngIf="!isListHouseRoute()" href="/Staff/list-house" class="text-white text-decoration-none mx-2">Danh sách nhà trọ</a>
      <a *ngIf="isListHouseRoute()" href="/Staff/list-house" class="text-white text-decoration-underline mx-2">Danh sách nhà trọ</a>

      <a *ngIf="!isListReportRoute()" href="/Staff/list-report" class="text-white text-decoration-none mx-2">Báo cáo</a>
      <a *ngIf="isListReportRoute()" href="/Staff/list-report" class="text-white text-decoration-underline mx-2">Báo cáo</a>

      <a *ngIf="!isListRequestRoute()" href="/Staff/list-landlord-signup-request" class="text-white text-decoration-none mx-2">Chủ trọ đăng ký</a>
      <a *ngIf="isListRequestRoute()" href="/Staff/list-landlord-signup-request" class="text-white text-decoration-underline mx-2">Chủ trọ đăng ký</a>

      <a *ngIf="!isListOrderRoute()" href="/Staff/list-order" class="text-white text-decoration-none mx-2">Nguyện vọng</a>
      <a *ngIf="isListOrderRoute()" href="/Staff/list-order" class="text-white text-decoration-underline mx-2">Nguyện vọng</a>

      <a *ngIf="!isUpdateProfileRoute()" href="/Staff/staff-update-profile" class="text-white text-decoration-none mx-2">Chỉnh sửa thông tin</a>
      <a *ngIf="isUpdateProfileRoute()" href="/Staff/staff-update-profile" class="text-white text-decoration-underline mx-2">Chỉnh sửa thông tin</a>
    </div>
  </div>

  <div class="col-12 col-md-3 d-flex justify-content-center align-items-center" id="btn">
    <div>Chủ trọ</div>
    <button class="btn btn-light mx-3" id="loginButton" (click)="logout()">Đăng xuất</button>
  </div>
</div>
