<app-staff-header></app-staff-header>
<nav class="mt-3 ps-3 fs-6" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li *ngIf="checkBreadcrumb" class="breadcrumb-item"><a class="text-danger" onclick="history.back();history.back()"
        style="cursor: pointer;">Danh sách chủ trọ</a></li>
    <li *ngIf="checkBreadcrumb" class="breadcrumb-item" aria-current="page">></li>
    <li class="breadcrumb-item"><a class="text-danger" onclick="history.back()" style="cursor: pointer;">Danh sách nhà
        trọ</a></li>
    <li class="breadcrumb-item" aria-current="page">></li>
    <li class="breadcrumb-item active" aria-current="page"> Danh sách phòng trọ</li>
  </ol>
</nav>

<div class="row" *ngIf="houseDetail">
  <!-- Landlord's avatar -->
  <div class="col-12 col-md-3 border d-flex justify-content-center align-items-center">
    <!-- House images -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
        <div *ngIf="i > 1" class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
        </div>
      </div>
      <div class="carousel-inner rounded">
        <div class="carousel-item active" *ngIf="houseDetail.imagesOfHouses">
          <img src="../../assets/image/House/{{houseDetail.imagesOfHouses[0].imageLink}}" class="d-block w-100 h-25"
            alt="...">
        </div>
        <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
          <div class="carousel-item" *ngIf="i >= 1">
            <img src="../../assets/image/House/{{image.imageLink}}" class="d-block w-100 h-25" alt="...">
          </div>
        </div>
      </div>
      <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
        <div *ngIf="i > 1">
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Other information -->
  <div class="col-12 col-md-6 border d-flex align-items-center">
    <div class="p-2 d-flex flex-column">
      <span><b>Tên nhà trọ: </b> {{houseDetail!.houseName}}</span>
      <span><b>Giá điện: </b> {{houseDetail!.powerPrice}}/kWh</span>
      <span><b>Giá nước: </b> {{houseDetail!.waterPrice}}/m3</span>
      <span><b>Địa chỉ: </b>{{houseDetail!.address!.addresses}}</span>
      <span><b>Thông tin khác: </b>{{houseDetail!.information}}</span>
    </div>
  </div>

  <div class="col-12 col-md-3 border d-flex align-items-center">
    <div class="p-2 d-flex flex-column">
      <span><b>Tổng số phòng trống:</b> {{availableRoom}} phòng</span>
      <span><b>Tổng số chỗ trống:</b> {{availableSlot}} chỗ</span>
    </div>
  </div>
</div>

<div class="row m-2">
  <div class="my-4">
    <h3 class="text-center">Danh sách phòng trọ</h3>

    <!-- Search bar -->
    <!-- <div class="row w-100 d-flex justify-content-center">
      <div class="col-10 col-md-5">
        <div class="text-center my-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập từ khóa tìm kiếm" aria-label="search_house_by_name"
              aria-describedby="button-addon2" #searchValue
              (keydown.enter)="search(searchValue.value)">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              (click)="search(searchValue.value)">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- End Search bar -->

    <!-- Case: No Data -->
    <div *ngIf="rooms.length <= 0">
      <div class="text-center emptyMesage">Chưa có phòng trọ</div>
    </div>

    <!-- Case: Have data -->
    <div *ngIf="rooms.length > 0">
      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col" id="md">STT</th>
            <th scope="col">Tên phòng</th>
            <th scope="col">Giá phòng (VND)</th>
            <th scope="col" id="md">Tiện ích</th>
            <th scope="col" id="md">Diện tích</th>
            <th scope="col" id="md">Số người ở</th>
            <th scope="col">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of rooms; let i=index;" (click)="viewRoomDetail(dataItem.roomId)"
            style="cursor: pointer;">
            <td id="md"><b>{{i+1}}</b></td>

            <!-- Room name -->
            <td>{{dataItem.roomName}}</td>

            <!-- Price -->
            <td>{{dataItem.pricePerMonth | number}}</td>

            <!-- Utilities -->
            <td id="md">
              <div class="d-flex">
                <div
                  *ngIf="dataItem.fridge == false && dataItem.kitchen == false && dataItem.washingMachine == false
                && dataItem.desk == false && dataItem.noLiveWithHost == false && dataItem.bed == false && dataItem.closedToilet == false">
                  <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Không có tiện ích" style="cursor: pointer;">
                    block
                  </span>
                </div>
                <div *ngIf="dataItem.fridge == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Tủ lạnh" style="cursor: pointer;">
                    kitchen
                  </span>
                </div>
                <div *ngIf="dataItem.kitchen == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Bếp" style="cursor: pointer;">
                    multicooker
                  </span>
                </div>
                <div *ngIf="dataItem.washingMachine == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Máy giặt" style="cursor: pointer;">
                    local_laundry_service
                  </span>
                </div>
                <div *ngIf="dataItem.desk == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Bàn ghế" style="cursor: pointer;">
                    desk
                  </span>
                </div>
                <div *ngIf="dataItem.noLiveWithHost == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Không chung chủ" style="cursor: pointer;">
                    gite
                  </span>
                </div>
                <div *ngIf="dataItem.bed == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Giường" style="cursor: pointer;">
                    bed
                  </span>
                </div>
                <div *ngIf="dataItem.closedToilet == true">
                  <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Vệ sinh khép kín" style="cursor: pointer;">
                    wc
                  </span>
                </div>
              </div>
            </td>

            <!-- Area -->
            <td id="md">{{dataItem.areaByMeters}} m<sup>2</sup></td>

            <!-- Amount of people -->
            <td id="md">
              <div class="row">
                <div *ngFor='let in of peopleCounter(dataItem.currentAmountOfPeople); let i = index'
                  class="col-12 col-md-1">
                  <i class="fa-solid fa-user me-1"></i>
                </div>
                <div
                  *ngFor='let in of peopleCounter(dataItem.maxAmountOfPeople - dataItem.currentAmountOfPeople); let i = index'
                  class="col-12 col-md-1">
                  <i class="fa-regular fa-user me-1"></i>
                </div>
              </div>
            </td>

            <!-- Room status -->
            <td>
              <span *ngIf="dataItem.status.statusName === 'Available'">Còn Trống</span>
              <span *ngIf="dataItem.status.statusName === 'Occupied'">Đã thuê</span>
              <span *ngIf="dataItem.status.statusName === 'Disabled'">Không dùng được</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Paging -->
    <!-- <div class="d-flex justify-content-center align-items-center mt-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link text-dark" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
          <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link text-dark" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
    </div> -->
    <!-- End Paging -->
  </div>
</div>

<!-- <app-footer></app-footer> -->