@media only screen and (max-width: 768px) {
  #md
  {
    display: none;
  }

  #carouselExampleIndicators
  {
    width: 80% !important;
    padding: 5px;
  }

  .carousel-inner
  {
    height: 25% !important;
  }
}
