.title {
  color: #ee4d2d;
  text-align: center;
}

//Button for student
.orangeButton {
  background-color: #ee4d2d;
  color: white;
}

.orangeButton:hover {
  background-color: #e83b19;
}

//Button for landlord
.blueButton {
  background-color: #022572;
  color: white;
}

.blueButton:hover {
  background-color: #021d57;
}
