.title{
  color: #ee4d2d;
}
.orangeButton{
  background-color: #ee4d2d;
  color: white;
}

.orangeButton:hover{
  background-color: #e83b19;
}

.blueButton{
  background-color: #022572;
  color: white;
}

.blueButton:hover{
  background-color: #021d57;
}
