<h1 mat-dialog-title>Role Selection</h1>
<div mat-dialog-content>
    <div class="container">
        <div class="row d-flex justify-content-around align-content-center" style="height: 90px;">
            <div class="col-4">
                <button class="btn btn-primary form-control" (click)="studentChoose()">Student</button>
            </div>
            <div class="col-4">
                <button class="btn btn-secondary form-control" (click)="landlordChoose()">Landlord</button>
            </div>
        </div>
    </div>
</div>
