<h1 mat-dialog-title>Bạn muốn đăng ký tài khoản với vai trò là:</h1>
<div mat-dialog-content>
    <div class="container">
        <div class="row d-flex justify-content-around align-content-center" style="height: 90px;">
            <div class="col-4">
                <button class="btn form-control" (click)="studentChoose()" style="background-color: #ee4d2d; color: white;">Học sinh</button>
            </div>
            <div class="col-4">
                <button class="btn btn-secondary form-control" (click)="landlordChoose()">Chủ trọ</button>
            </div>
        </div>
    </div>
</div>
