<!--Header-->
<app-landlord-header></app-landlord-header>

<!-- Rate and comment -->
<div class="mx-2 mx-md-5">
  <!-- Rate and comment -->
  <div class="my-5 border border-secondary rounded p-2">
    <h3 class="text-center">Người dùng đánh giá</h3>
    Bình luận:
    <div class="bg-light border border-secondary rounded mb-2 p-2" style="overflow: auto;">
      <div *ngIf="rates.length === 0">
        Chưa có đánh giá
      </div>
      <div *ngFor="let rate of rates; let i = index">
        <div class="d-flex">
          <span>
            {{rate.studentId}}: {{rate.comment}}
              <span *ngIf="rate.star === 1">
                (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
              </span>
              <span *ngIf="rate.star === 2">
                (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
              </span>
              <span *ngIf="rate.star === 3">
                (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
              </span>
              <span *ngIf="rate.star === 4">
                (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
              </span>
              <span *ngIf="rate.star === 5">
                (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
              </span>
          </span>
          <a class="ms-2" style="cursor: pointer;" (click)="openReply(i)" *ngIf="!isReply">phản hồi</a>

        </div>
        <div *ngIf="isReply && indexReply === i">
          <div class="my-2 w-50 d-flex">
            <input type="text" class="form-control" placeholder="Viết phản hồi">
            <button class="btn btn-secondary mx-2" type="button" (click)="closeReply()">Hủy</button>
            <button class="btn btn-success" type="button">Đăng</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
