<!--Header-->
<div class="navbar nav d-flex justify-content-between text-center text-white orangeBackround">
  <div class="logo col-12 col-md-2 my-2">
    <!-- Link back to Dashboard -->
    <a (click)="backHome()" id="app-name" style="cursor: pointer;">
      <img src="/assets/image/Logo.png" alt="..." width="70px">
      <h6>FU House Finder</h6>
    </a>
  </div>

  <div class="col-12 col-md-8 my-2">
    <h1>TÌM TRỌ SINH VIÊN FPT</h1>
    <div>
      <a href="/Landlord/dashboard" class="text-white text-decoration-none mx-2" id="link">Trang chủ</a>|
      <a href="https://daihoc.fpt.edu.vn/tuyen-sinh/" target="_blank" class="text-white text-decoration-none mx-2"
        id="link">Tuyển sinh</a>|
      <a href="https://daihoc.fpt.edu.vn/lien-he-voi-chung-toi/" target="_blank"
        class="text-white text-decoration-none mx-2" id="link">Liên hệ</a>|
      <a href="https://daihoc.fpt.edu.vn/gioi-thieu-dai-hoc-fpt/" target="_blank"
        class="text-white text-decoration-none mx-2" id="link">Giới thiệu</a>
    </div>
  </div>

  <!-- Action Dropdown -->
  <div class="col-12 col-md-2 d-flex justify-content-center align-items-center" id="btn">
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle" id="loginButton" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{userDisplayName}}
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item fw-semibold" href="/Landlord/landlord-update-profile" id="dropdownItem">
            <span class="me-2">
              <i class="fa-solid fa-gear"></i>
            </span>
            Chỉnh sửa thông tin
          </a>
        </li>
        <li>
          <a class="dropdown-item fw-semibold" href="/Landlord/landlord-change-password" id="dropdownItem">
            <span class="me-2">
              <i class="fa-solid fa-key"></i>
            </span>
            Đổi mật khẩu
          </a>
        </li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <a class="dropdown-item fw-semibold" href="#" id="dropdownItem" (click)="logout()">
            <span class="me-2">
              <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            Đăng xuất
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>