#loginButton{
  // width: 120px;
  // height: 40px;
  // font-size: 16px;
  font-weight: 600;
  color: #ee4d2d;
  box-shadow: 0 8px 8px -4px rgb(0, 0, 0,0.5);
  border: none;
  border-radius: 10px;
}

#app-name{
  color: white;
  text-decoration: none;
}

#app-name:hover{
  cursor: pointer;
  text-decoration: none;
}

#app-name:active{
  text-decoration: none;
}

#link:hover
{
  text-decoration: underline !important;
}

@media only screen and (max-width: 768px) {
  .logo
  {
    display: none !important;
  }
}

// #dropdown:hover
// {
//   text-decoration: none !important;
//   opacity: 0.8 !important;
// }

// #dropdownItem:hover
// {
//   text-decoration: none !important;
// }