<div class="container-fluit">
    <div class="text-center p-4 d-flex justify-content-center">
        <div class="input-group mb-3 w-25">
            <input type="text" class="form-control" placeholder="Nhap ten tro, tu khoa tim kiem"
                aria-label="Recipient's username" aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-dark" type="button" id="button-addon2">Button</button>
            </div>
        </div>
    </div>

    <div class="d-flex">

    </div>
</div>