//House Card Item on Hover -> Clickable
.houseCardItem {
  cursor: pointer;
  margin: 10px 0;

  .card-body {
    background-color: #3E4F3C;
  }
}

// .houseCardItem:hover {
//   scale: 1.1;
//   z-index: 99;
// }

#roomFilterTitle {
  background-color: #3E4F3C;
}

#listRoomType {
  list-style: none;
}

//set fixed width for <select> of Regions in [Filter]
.selectRegion {
  width: 14vw;
}
