<!-- Body -->
<div class="container-fluid">
  <br>
  <!-- Search bar -->
  <div class="text-center pb-4 d-flex justify-content-center">
    <div class="input-group w-25">
      <!-- Press enter to search  -->
      <input type="text" class="form-control" placeholder="Nhập tên trọ" aria-label="Recipient's username"
        aria-describedby="button-addon2" #searchHouseName (keydown.enter)="searchHouseByName(searchHouseName.value)">
      <!-- Click button to search -->
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
          (click)="searchHouseByName(searchHouseName.value)">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </div>
  </div>
  <!-- End Search bar -->

  <!-- Main Content -->
  <div class="d-flex justify-content-between">
    <!-- Filter Column -->
    <div class="w-25 bg-light mx-5 rounded">
      <div class="text-center text-white p-2 rounded-top" id="roomFilterTitle">LỌC PHÒNG TRỌ</div>

      <div class="container">
        <div class="d-flex justify-content-between align-items-center pt-3">
          <div class="font-weight-bold">Cơ sở</div>

          <!-- Campus -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Chọn cơ sở muốn tìm
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <!-- List of Campuses to choose -->
              <a *ngFor="let campus of campuses" class="dropdown-item" href="#">{{campus.campusName}}</a>
            </div>
          </div>
        </div>
        <hr>

        <!-- Distance to university -->
        <div>
          <h6 class="font-weight-bold mb-2">Khoảng cách đến trường: <span
              class="badge bg-secondary text-white">km</span></h6>
          <div style="display: flex;">
            <input type="number" style="width: 50%;" min="0">
            &nbsp;-&nbsp;
            <input type="number" style="width: 50%;" min="0">
          </div>
        </div>
        <hr>

        <!-- Price -->
        <div>
          <div>
            <h6 class="font-weight-bold mb-2">Giá tiền: <span class="badge bg-secondary text-white">VND/Tháng</span>
            </h6>
            <div style="display: flex;">
              <input type="number" style="width: 50%;" min="0">
              &nbsp;-&nbsp;
              <input type="number" style="width: 50%;" min="0">
            </div>
          </div>
        </div>
        <hr>

        <!-- <div>
            <div class="ranges-container">
              <div class="range d-flex justify-content-between align-items-center">
                <input type="range" min="0" max="20000000" label="Min" value="0" class="w-75">
                <span>
                  <span class="text-mute">Min: </span>
                  <span>0</span>
                </span>
              </div>
              <div class="range d-flex justify-content-between align-items-center">
                <input type="range" min="0" max="20000000" label="Max" value="20000000" class="w-75">
                <span>
                  <span class="text-mute">Max: </span>
                  <span>20</span>
                </span>
              </div>
            </div>
        </div> -->

        <!-- Room Types -->
        <div>
          <h6 class="font-weight-bold mb-2">Loại phòng:</h6>
          <div>
            <div class="form-check" *ngFor="let roomType of roomTypes" id="listRoomType">
              <input class="form-check-input" type="checkbox" value="{{roomType.roomTypeName}}"
                id="{{roomType.roomTypeName}}">
              <label class="form-check-label" for="{{roomType.roomTypeName}}">
                {{roomType.roomTypeName}}
              </label>
            </div>
          </div>
        </div>
        <hr>

        <!-- Regions -->
        <div>
          <h6 class="font-weight-bold mb-2">Khu vực:</h6>

          <div class="d-flex justify-content-between align-items-center my-2">
            <div>Huyện/Quận</div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chọn nơi muốn tìm
              </button>
              <!-- List all Districts -->
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a *ngFor="let district of districts" class="dropdown-item" href="#">{{district.districtName}}</a>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-2">
            <div>Phường/Xã</div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chọn nơi muốn tìm
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center">
            <div>Thôn/Xóm</div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Chọn nơi muốn tìm
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <!-- Other utilities -->
        <div>
          <h6 class="font-weight-bold mb-2">Tiện ích khác:</h6>

          <div class="form-check" *ngFor="let roomUtility of roomUtilities" id="listOtherUtility">
            <input class="form-check-input" type="checkbox" value="{{roomUtility.utilityName}}"
              id="{{roomUtility.utilityName}}">
            <label class="form-check-label" for="{{roomUtility.utilityName}}">
              {{roomUtility.displayName}}
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- End Filter Column -->

    <!-- Display Houses -->
    <div class="w-75 mr-5">
      <!-- Rooms Count Available -->
      <div class="d-flex justify-content-between mb-3">
        <div class="font-weight-bold">Tổng số phòng trống: 10</div>

        <div class="d-flex justify-content-between align-items-center mb-2">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sắp xếp theo
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
      <!-- End Rooms Count Available -->

      <!-- List of Houses -->
      <div class="row">
        <!-- House Item -->
        <div class="col-4" *ngFor="let dataItem of houses">
          <!-- Item onClick: to House Detail -->
          <div class="card rounded houseCardItem" routerLink="/house-detail/{{dataItem.houseId}}">
            <img class="card-img-top" src="../assets/image/House/{{dataItem.imagesOfHouses[0].imageLink}}"
              alt="House Image">
            <div class="card-body text-white rounded-bottom">
              <h5 class="card-title text-center font-weight-bold">{{dataItem.houseName}}</h5>
              <!-- Price with VND format -->
              <div class="card-text"><i class="fa-solid fa-tag mr-2"></i>{{dataItem.lowestRoomPrice |
                currency:'VND':'symbol':'3.0'}} -
                {{dataItem.highestRoomPrice | currency:'VND':'symbol':'3.0'}}</div>
              <div class="card-text"><i class="fa-solid fa-location-dot mr-2"></i>{{dataItem.address.addresses}}</div>
              <div class="card-text"><i class="fa-solid fa-road mr-2"></i>{{dataItem.address.googleMapLocation}}
              </div>
            </div>
          </div>
        </div>
        <!-- End House Item -->
      </div>
      <!-- End List of Houses -->

      <!-- Paging -->
      <div class="d-flex justify-content-center align-items-center my-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link text-dark" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link text-dark" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- End Paging -->
    </div>
    <!-- End Display Houses -->
  </div>
  <!-- End Main content -->
</div>
<!-- End Body -->