<div class="row">
    <div class="col-3">
        <div class="sidebar">
          <a class="active" href="#home">Home</a>
          <a href="#news">Quản lý người dùng</a>
          <a href="#contact">Quản lý nhà trọ</a>
          <a href="#about">Quản lý báo cáo vi phạm</a>
          <a href="#about">Nguyện vọng đăng ký nhà ở của sinh viên</a>
        </div>
    </div>
    <div class="col-9">
      <!-- Page content -->
      <div class="content">
        ..
      </div>
    </div>
  </div>
