.sidebar{
  position: relative;
  background-color: #7F886B;

  a{
    color: white;
    display: block;
    padding: 15px 20px;
    margin: 10px;
    text-decoration: none;
    border: #7F886B 1px solid;
    border-radius: 8px;
  }
  a:hover{
    background-color: #3E4F3C;
    border: #3E4F3C 1px solid;
    border-radius: 8px;
    color: white;
  }
}
