<div class="row">
    <div class="col-3">
        <div class="sidebar">
          <a class="active" href="/Staff/dashboard">Home</a>
          <a href="/Staff/list-landlord">Quản lý chủ trọ</a>
          <a routerLink="/Staff/list-house">Quản lý nhà trọ</a>
          <a routerLink="/Staff/list-report">Quản lý báo cáo vi phạm</a>
          <a routerLink="">Nguyện vọng đăng ký nhà ở của sinh viên</a>
        </div>
    </div>
    <div class="col-9">
      <!-- Page content -->
      <div class="content">
        ..
      </div>
    </div>
  </div>
