.content{
  .statistics{
    border-radius: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    b{
      text-align: center;
    }
    span{
      font-size: 40px;
    }
  }
  .house, .room, .capacity{
    padding: 10px;
    border-radius: 10px;
  }

  .house{
    background-image: linear-gradient(to bottom right, #e4417e, #b558a0);
  }

  .room{
    background-image: linear-gradient(to bottom right, #8f6fb8, #5349b1);
  }

  .capacity{
    background-image: linear-gradient(to bottom right, #4bbae0, #5f8fcf);
  }
}

#divChart{
  display: block;
  width: 600px;
  height: 100%;
}

#active
{
  cursor: pointer;
  background-color: #f8f9fa !important;
}

@media only screen and (max-width: 768px) {
  #menu1
  {
    display: none;
  }

  #menu2
  {
    display: inline !important;
  }
}
