.sidebar{
  position: relative;
  background-color: #7F886B;
  padding: 0;
  height: 100%;

  a{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  a:hover{
    background-color: #3E4F3C;
    color: white;
  }
}

.content{
  .statistics{
    background-color: #7F886B;
    border: #7F886B 1px solid;
    border-radius: 8px;
    height: 120px;
    margin: 20px;
    padding: 15px;
    text-align: center;

    b{
      text-align: center;
    }
    span{

      font-size: 50px;
    }
  }
}

#divChart{
  display: block;
  width: 400px;
  height: 100%;
}
