<div class="m-5 d-flex justify-content-between">
  <div class="card col-12 col-md-3" style="width: 18rem;">
    <div class="card-header text-center text-white bg-secondary">
      Menu
    </div>
    <ul class="list-group list-group-flush">
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/dashboard">Home</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-landlord">Quản lý chủ trọ</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-house">Quản lý nhà trọ</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-report">Quản lý báo cáo vi phạm</a>
      <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-order">Nguyện vọng đăng ký nhà ở của sinh viên</a>
    </ul>
  </div>

  <div class="col-12 col-md-8">

    <!-- Page content -->
    <div class="content">
      <div class="row d-flex justify-content-between statistics">
        <div class="col-3 mb-3 d-flex flex-column justify-content-center align-items-center house">
          <h5>Tổng số nhà trọ</h5>
          <span>{{ totalHouses }}</span>
        </div>

        <div class="col-3 mb-3 d-flex flex-column justify-content-center align-items-center room">
          <h5>Tổng số phòng</h5>
          <span>{{ totalRooms }}</span>
        </div>

        <div class="col-3 mb-3 d-flex flex-column justify-content-center align-items-center capacity">
          <h5>Tổng sức chứa</h5>
          <span>{{ totalCapacity }}</span>
        </div>
      </div>

      <div class="row d-flex justify-content-between my-5">
        <div class="col-4 w-30">
          <canvas id="houseChart"></canvas>
        </div>
        <div class="col-4 w-30">
          <canvas id="roomChart"></canvas>
        </div>
        <div class="col-4 w-30">
          <canvas id="capacityChart"></canvas>
        </div>
      </div>

      <div class="row d-flex justify-content-between">
        <div class="col-6 w-50">
          <canvas id="orderChart"></canvas>
        </div>
        <div class="col-6 w-50">
          <canvas id="reportChart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
