
<div class="nav"></div>
<div class="row">
    <div class="col">
        <div class="row">
            <input type="text" />
        </div>
        <div class="row">
            <input type="money" />
        </div>
        <div class="row">
            <input type="text" />
        </div>
        <div class="row">
            <input type="number" />
        </div>
    </div>
    <div class="col">
        <div class="row">
            <input type="text" />
        </div>
        <div class="row">
            <input type="money" />
        </div>
        <div class="row">
            <input type="text" />
        </div>
        <div class="row">
            <input type="number" />
        </div>
    </div>
</div>