<!-- Header -->
<app-header></app-header>

<!-- Body -->
<div class="bg-light px-2 pt-5">
  <!-- Content -->
  <div class="row d-flex justify-content-evenly">
    <!-- Offcanvas: For Filter column in Responsive (Only display in small screen) -->
    <div *ngIf="enableOffCanvas" class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasFilterColumn"
      aria-labelledby="offcanvasFilterColumnLabel">
      <!-- Offcanvas Header -->
      <div class="offcanvas-header text-white orangeBackround">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">LỌC KẾT QUẢ</h5>
        <a href="/home" class="text-white">Đặt lại bộ lọc</a>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <!-- Offcanvas Body -->
      <div class="offcanvas-body">
        <div class="bg-white">
          <div class="container">
            <div class="d-flex justify-content-between align-items-center pt-3">
              <!-- Campus -->
              <h6 class="font-weight-bold">Cơ sở</h6>
              <div>
                <!-- When select 1 Campus -> change list of District accordingly -->
                <select #selectCampus class="form-select" aria-label="select-campus"
                  (change)="onCampusSelected(selectCampus.value)">
                  <option class="disableOption" disabled selected>Chọn cơ sở</option>
                  <!-- List of Campuses to choose -->
                  <option *ngFor=" let campus of campuses" value="{{campus.campusId}}">
                    {{campus.campusName}}</option>
                </select>
              </div>
            </div>

            <!-- Regions -->
            <div>
              <h6 class="font-weight-bold mb-2">Khu vực:</h6>

              <!-- District -->
              <div class="d-flex justify-content-between align-items-center my-2">
                <div class="me-2">Huyện/Quận</div>
                <div>
                  <!-- When select 1 District -> change list of Communes accordingly -->
                  <select #selectDistrict class="form-select selectRegion" aria-label="select-district"
                    (change)="onDistrictSelected(selectDistrict.value)" (click)="onDistrictClicked()">
                    <option class="disableOption" disabled selected>Chọn quận/huyện</option>
                    <!-- List all Districts of selected Campus-->
                    <option *ngFor=" let district of districtsOfSelectedCampus" value="{{district.districtId}}">
                      {{district.districtName}}</option>
                  </select>
                </div>
              </div>

              <!-- Commune -->
              <div class="d-flex justify-content-between align-items-center mb-2">
                <div class="me-2">Phường/Xã</div>
                <div>
                  <!-- When select 1 Communes -> change list of Villages accordingly -->
                  <select #selectCommune class="form-select selectRegion" aria-label="select-commune"
                    (change)="onCommuneSelected(selectCommune.value)">
                    <option class="disableOption" disabled selected>Chọn phường/xã</option>
                    <!-- List all Communes of selected District -->
                    <option *ngFor="let commune of communesOfSelectedDistrict" value="{{commune.communeId}}">
                      {{commune.communeName}}</option>
                  </select>
                </div>
              </div>

              <!-- Village -->
              <div class="d-flex justify-content-between align-items-center">
                <div class="me-2">Thôn/Xóm</div>
                <div>
                  <!-- When select 1 Village -> call API -->
                  <select #selectVillage class="form-select selectRegion" aria-label="select-village"
                    (change)="onVillageSelected(selectVillage.value)">
                    <option class="disableOption" disabled selected>Chọn thôn/xóm</option>
                    <!-- List all Villages of selected Commune -->
                    <option *ngFor="let village of villagesOfSelectedCommune" value="{{village.villageId}}">
                      {{village.villageName}}</option>
                  </select>
                </div>
              </div>
            </div>
            <hr>

            <!-- Distance to university -->
            <div>
              <h6 class="font-weight-bold mb-2">Khoảng cách đến trường:
                <span class="badge bg-secondary text-white">km</span>&nbsp;
                <span class="badge bg-secondary text-white"><i class="fa-solid fa-motorcycle"></i></span>
              </h6>
              <!-- select max - min number -->
              <div style="display: flex;">
                <input #minDistance type="number" style="width: 50%;" min="0">
                &nbsp;-&nbsp;
                <input #maxDistance type="number" style="width: 50%;" min="0">
              </div>
              <!-- submit button -->
              <div class="pt-2">
                <button type="button" class="btn btn-outline-secondary btn-sm"
                  (click)="onDistanceSelected(minDistance.value, maxDistance.value)">Áp dụng</button>
              </div>
            </div>
            <hr>

            <!-- Price -->
            <div>
              <div>
                <h6 class="font-weight-bold mb-2">Giá tiền: <span class="badge bg-secondary text-white">VND/Tháng</span>
                </h6>
                <!-- select max - min number -->
                <div style="display: flex;">
                  <input #minPrice type="number" style="width: 50%;" min="0">
                  &nbsp;-&nbsp;
                  <input #maxPrice type="number" style="width: 50%;" min="0">
                </div>
                <!-- submit button -->
                <div class="pt-2">
                  <button type="button" class="btn btn-outline-secondary btn-sm"
                    (click)="onPriceSelected(minPrice.value, maxPrice.value)">Áp dụng</button>
                </div>
              </div>
            </div>
            <hr>

            <!-- Room Types -->
            <div>
              <h6 class="font-weight-bold mb-2">Loại phòng:</h6>
              <div>
                <div class="form-check" *ngFor="let roomType of roomTypes">
                  <!-- Select room type -->
                  <input class="form-check-input" type="checkbox" value="{{roomType.roomTypeId}}"
                    id="{{roomType.roomTypeName}}" (change)="onRoomTypeSelected($event, roomType.roomTypeId)">
                  <label class="form-check-label" for="{{roomType.roomTypeName}}">
                    {{roomType.roomTypeName}}
                  </label>
                </div>
              </div>
            </div>
            <hr>

            <!-- Other utilities -->
            <div>
              <h6 class="font-weight-bold mb-2">Tiện ích khác:</h6>

              <!-- House Utility -->
              <div class="form-check" *ngFor="let houseUtility of houseUtilities" id="listHouseUtility">
                <!-- Select utility -->
                <input class="form-check-input" type="checkbox" value="{{houseUtility.utilityName}}"
                  id="{{houseUtility.utilityName}}" (change)="onHouseUtilitySelected($event, houseUtility.utilityName)">
                <label class="form-check-label" for="{{houseUtility.utilityName}}">
                  {{houseUtility.displayName}}
                </label>
              </div>
              <br>

              <!-- Room Utility -->
              <div class="form-check" *ngFor="let roomUtility of roomUtilities" id="listRoomUtility">
                <!-- Select utility -->
                <input class="form-check-input" type="checkbox" value="{{roomUtility.utilityName}}"
                  id="{{roomUtility.utilityName}}" (change)="onRoomUtilitySelected($event, roomUtility.utilityName)">
                <label class="form-check-label" for="{{roomUtility.utilityName}}">
                  {{roomUtility.displayName}}
                </label>
              </div>
            </div>
            <hr>

            <!-- Filter by Rates -->
            <div>
              <h6 class="font-weight-bold mb-2">Đánh giá:</h6>

              <!-- Select Rate (can only select 1) -->
              <div class="form-check rateForm">
                <input class="form-check-input" type="radio" name="filterRate" id="5star" (click)="onRateSelected(5)">
                <label class="form-check-label" for="5star">
                  <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                </label>
              </div>

              <div class="form-check rateForm">
                <input class="form-check-input" type="radio" name="filterRate" id="4star" (click)="onRateSelected(4)">
                <label class="form-check-label" for="4star">
                  <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
                </label>
              </div>

              <div class="form-check rateForm">
                <input class="form-check-input" type="radio" name="filterRate" id="3star" (click)="onRateSelected(3)">
                <label class="form-check-label" for="3star">
                  <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
                </label>
              </div>

              <div class="form-check rateForm">
                <input class="form-check-input" type="radio" name="filterRate" id="2star" (click)="onRateSelected(2)">
                <label class="form-check-label" for="2star">
                  <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
                </label>
              </div>

              <div class="form-check rateForm">
                <input class="form-check-input" type="radio" name="filterRate" id="1star" (click)="onRateSelected(1)">
                <label class="form-check-label" for="1star">
                  <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i>
                  <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Offcanvas -->

    <!-- Filter Column -->
    <div id="filterColumn" class="col-3 bg-white rounded h-100 mb-5">
      <div class="row">
        <div class="d-flex justify-content-between align-items-center p-3 rounded-top text-white orangeBackround">
          <h5>LỌC KẾT QUẢ</h5>

          <!-- Cancel Filter -->
          <div>
            <a href="/home" class="text-white">Đặt lại bộ lọc</a>
          </div>
        </div>

        <div class="container">
          <div class="d-flex justify-content-between align-items-center pt-3">
            <!-- Campus -->
            <h6 class="font-weight-bold">Cơ sở</h6>
            <div>
              <!-- When select 1 Campus -> change list of District accordingly -->
              <select #selectCampus class="form-select" aria-label="select-campus"
                (change)="onCampusSelected(selectCampus.value)">
                <option class="disableOption" disabled selected>Chọn cơ sở</option>
                <!-- List of Campuses to choose -->
                <option *ngFor=" let campus of campuses" value="{{campus.campusId}}">
                  {{campus.campusName}}</option>
              </select>
            </div>
          </div>

          <!-- Regions -->
          <div>
            <h6 class="font-weight-bold mb-2">Khu vực:</h6>

            <!-- District -->
            <div class="d-flex justify-content-between align-items-center my-2">
              <div class="me-2">Huyện/Quận</div>
              <div>
                <!-- When select 1 District -> change list of Communes accordingly -->
                <select #selectDistrict class="form-select selectRegion" aria-label="select-district"
                  (change)="onDistrictSelected(selectDistrict.value)" (click)="onDistrictClicked()">
                  <option class="disableOption" disabled selected>Chọn quận/huyện</option>
                  <!-- List all Districts of selected Campus-->
                  <option *ngFor=" let district of districtsOfSelectedCampus" value="{{district.districtId}}">
                    {{district.districtName}}</option>
                </select>
              </div>
            </div>

            <!-- Commune -->
            <div class="d-flex justify-content-between align-items-center mb-2">
              <div class="me-2">Phường/Xã</div>
              <div>
                <!-- When select 1 Communes -> change list of Villages accordingly -->
                <select #selectCommune class="form-select selectRegion" aria-label="select-commune"
                  (change)="onCommuneSelected(selectCommune.value)">
                  <option class="disableOption" disabled selected>Chọn phường/xã</option>
                  <!-- List all Communes of selected District -->
                  <option *ngFor="let commune of communesOfSelectedDistrict" value="{{commune.communeId}}">
                    {{commune.communeName}}</option>
                </select>
              </div>
            </div>

            <!-- Village -->
            <div class="d-flex justify-content-between align-items-center">
              <div class="me-2">Thôn/Xóm</div>
              <div>
                <!-- When select 1 Village -> call API -->
                <select #selectVillage class="form-select selectRegion" aria-label="select-village"
                  (change)="onVillageSelected(selectVillage.value)">
                  <option class="disableOption" disabled selected>Chọn thôn/xóm</option>
                  <!-- List all Villages of selected Commune -->
                  <option *ngFor="let village of villagesOfSelectedCommune" value="{{village.villageId}}">
                    {{village.villageName}}</option>
                </select>
              </div>
            </div>
          </div>
          <hr>

          <!-- Distance to university -->
          <div>
            <h6 class="font-weight-bold mb-2">Khoảng cách đến trường:
              <span class="badge bg-secondary text-white">km</span>&nbsp;
              <span class="badge bg-secondary text-white"><i class="fa-solid fa-motorcycle"></i></span>
            </h6>
            <!-- select max - min number -->
            <div style="display: flex;">
              <input #minDistance type="number" style="width: 50%;" min="0">
              &nbsp;-&nbsp;
              <input #maxDistance type="number" style="width: 50%;" min="0">
            </div>
            <!-- submit button -->
            <div class="pt-2">
              <button type="button" class="btn btn-outline-secondary btn-sm"
                (click)="onDistanceSelected(minDistance.value, maxDistance.value)">Áp dụng</button>
            </div>
          </div>
          <hr>

          <!-- Price -->
          <div>
            <div>
              <h6 class="font-weight-bold mb-2">Giá tiền: <span class="badge bg-secondary text-white">VND/Tháng</span>
              </h6>
              <!-- select max - min number -->
              <div style="display: flex;">
                <input #minPrice type="number" style="width: 50%;" min="0">
                &nbsp;-&nbsp;
                <input #maxPrice type="number" style="width: 50%;" min="0">
              </div>
              <!-- submit button -->
              <div class="pt-2">
                <button type="button" class="btn btn-outline-secondary btn-sm"
                  (click)="onPriceSelected(minPrice.value, maxPrice.value)">Áp dụng</button>
              </div>
            </div>
          </div>
          <hr>

          <!-- Room Types -->
          <div>
            <h6 class="font-weight-bold mb-2">Loại phòng:</h6>
            <div>
              <div class="form-check" *ngFor="let roomType of roomTypes">
                <!-- Select room type -->
                <input class="form-check-input" type="checkbox" value="{{roomType.roomTypeId}}"
                  id="{{roomType.roomTypeName}}" (change)="onRoomTypeSelected($event, roomType.roomTypeId)">
                <label class="form-check-label" for="{{roomType.roomTypeName}}">
                  {{roomType.roomTypeName}}
                </label>
              </div>
            </div>
          </div>
          <hr>

          <!-- Other utilities -->
          <div>
            <h6 class="font-weight-bold mb-2">Tiện ích khác:</h6>

            <!-- House Utility -->
            <div class="form-check" *ngFor="let houseUtility of houseUtilities" id="listHouseUtility">
              <!-- Select utility -->
              <input class="form-check-input" type="checkbox" value="{{houseUtility.utilityName}}"
                id="{{houseUtility.utilityName}}" (change)="onHouseUtilitySelected($event, houseUtility.utilityName)">
              <label class="form-check-label" for="{{houseUtility.utilityName}}">
                {{houseUtility.displayName}}
              </label>
            </div>
            <br>

            <!-- Room Utility -->
            <div class="form-check" *ngFor="let roomUtility of roomUtilities" id="listRoomUtility">
              <!-- Select utility -->
              <input class="form-check-input" type="checkbox" value="{{roomUtility.utilityName}}"
                id="{{roomUtility.utilityName}}" (change)="onRoomUtilitySelected($event, roomUtility.utilityName)">
              <label class="form-check-label" for="{{roomUtility.utilityName}}">
                {{roomUtility.displayName}}
              </label>
            </div>
          </div>
          <hr>

          <!-- Filter by Rates -->
          <div>
            <h6 class="font-weight-bold mb-2">Đánh giá:</h6>

            <!-- Select Rate (can only select 1) -->
            <div class="form-check rateForm">
              <input class="form-check-input" type="radio" name="filterRate" id="5star" (click)="onRateSelected(5)">
              <label class="form-check-label" for="5star">
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
              </label>
            </div>

            <div class="form-check rateForm">
              <input class="form-check-input" type="radio" name="filterRate" id="4star" (click)="onRateSelected(4)">
              <label class="form-check-label" for="4star">
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
              </label>
            </div>

            <div class="form-check rateForm">
              <input class="form-check-input" type="radio" name="filterRate" id="3star" (click)="onRateSelected(3)">
              <label class="form-check-label" for="3star">
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
              </label>
            </div>

            <div class="form-check rateForm">
              <input class="form-check-input" type="radio" name="filterRate" id="2star" (click)="onRateSelected(2)">
              <label class="form-check-label" for="2star">
                <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
              </label>
            </div>

            <div class="form-check rateForm">
              <input class="form-check-input" type="radio" name="filterRate" id="1star" (click)="onRateSelected(1)">
              <label class="form-check-label" for="1star">
                <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i>
                <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i> trở lên
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Filter Column -->

    <!-- Main Content -->
    <div class="col-12 col-md-8">
      <!-- Filter Row -->
      <div class="row d-flex justify-content-between">
        <!-- Search bar -->
        <div class="col-12 col-md-5 mb-3">
          <div class="input-group w-100">
            <!-- Press enter to search  -->
            <input type="text" class="form-control" placeholder="Nhập tên trọ" aria-label="search_house_by_name"
              aria-describedby="button-addon2" #searchHouseName
              (keydown.enter)="searchHouseByName(searchHouseName.value)">
            <!-- Click button to search -->
            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
              (click)="searchHouseByName(searchHouseName.value)">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </div>
        <!-- End Search bar -->

        <!-- Button Trigger Offcanvas (only display in small screen) -->
        <div class="col-6 col-md-3 mb-3" #buttonTriggerOffCanvas2 id="buttonTriggerOffCanvas">
          <button class="btn btn-primary w-100" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasFilterColumn" aria-controls="offcanvasFilterColumn">
            Lọc phòng trọ
          </button>
        </div>

        <!-- [Order by] -->
        <div class="col-6 col-md-3 mb-3">
          <!-- When select 1 Order -> call API to update list House -->
          <select #selectOrder class="form-select" aria-label="select-order" (change)="onOrderBy(selectOrder.value)">
            <option class="disableOption" disabled selected>Sắp xếp theo</option>
            <!-- List of Order to choose -->
            <option *ngFor=" let orderValue of orderValues" value="{{orderValue}}">
              {{orderValue}}</option>
          </select>
        </div>
        <!-- End [Order by] -->
      </div>
      <!-- End Rooms Count Available -->

      <!-- Statistics -->
      <div class="d-flex justify-content-between border shadow-sm mb-3 p-2 bg-body rounded">
        <div class="row w-100">
          <!-- House available count -->
          <div class="col-12 col-md-4">
            <div id="statisticColumn" class="border-end d-flex flex-column justify-content-center align-items-center pe-4">
              <div class="fs-4 d-flex align-items-center text-danger">
                <span class="material-symbols-outlined fs-3 me-1">
                  home
                </span>
                <span>
                  {{countAvailableHouses}}
                </span>
              </div>
              <h6 class="font-weight-bold text-center">Nhà có phòng trống</h6>
            </div>
          </div>

          <!-- Room available count -->
          <div class="col-12 col-md-4">
            <div id="statisticColumn" class="border-end d-flex flex-column justify-content-center align-items-center pe-4">
              <div class="fs-4 d-flex align-items-center text-danger">
                <span class="material-symbols-outlined me-1">
                  door_back
                </span>
                <span>
                  {{countAvailableRooms}}
                </span>
              </div>
              <h6 class="font-weight-bold text-center">Phòng trống</h6>
            </div>
          </div>

          <!-- Capacity available count -->
          <div class="col-12 col-md-4">
            <div id="statisticColumn" class="d-flex flex-column justify-content-center align-items-center pe-4">
              <div class="fs-4 d-flex align-items-center text-danger">
                <span class="material-symbols-outlined me-1">
                  bed
                </span>
                <span>
                  {{countAvailableCapacity}}
                </span>
              </div>
              <h6 class="font-weight-bold text-center">Chỗ trống</h6>
            </div>
          </div>
        </div>
      </div>
      <!-- End Statistics -->

      <!-- List House Count -->
      <div class="d-flex justify-content-end">
        <div>
          Tìm thấy {{countFilterHouses}} nhà trọ
        </div>
      </div>

      <!-- Placeholder: Display when List House is Loading -->
      <div class="row" *ngIf="!houses">
        <div class="col-12 col-md-6 col-xl-4" *ngFor="let placeholderItem of placeHolderItemCount">
          <div class="card rounded placeHolderHouseCardItem">
            <img class="card-img-top" id="houseItemImage" src="../assets/image/HouseItem_Image_PlaceHolder.png"
              alt="House Image">

            <div class="card-body rounded-bottom ">
              <h5 class="card-title text-center font-weight-bold placeholder-glow">
                <span class="placeholder col-6"></span>
              </h5>

              <div class="card-text text-truncate maxWidthText orangeText fs-5 placeholder-glow">
                <span class="placeholder col-4"></span>
              </div>

              <div class="card-text grayText placeholder-glow">
                <span class="placeholder col-7"></span>
              </div>

              <div class="card-text text-truncate maxWidthText grayText placeholder-glow">
                <span class="placeholder col-12"></span>
              </div>

              <div class="card-text grayText placeholder-glow">
                <span class="placeholder col-2"></span>
                <span>&nbsp;</span>
                <span class="placeholder col-2"></span>
              </div>

              <div class="card-text text-truncate maxWidthText grayText placeholder-glow">
                <span class="placeholder col-3"></span>
              </div>

              <div class="card-text placeholder-glow">
                <span class="placeholder col-5"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Notification: No House Found -->
      <div class="row" *ngIf="houses && houses.length <= 0">
        <h3 class="text-center">
          <i class="fa-regular fa-face-frown"></i>
          Rất tiếc, chúng tôi không tìm thấy nhà trọ bạn mong muốn
        </h3>
      </div>

      <!-- List of Houses -->
      <div class="row" *ngIf="houses && houses.length > 0">
        <!---------------- House Item ---------------->
        <div class="col-12 col-md-6 col-xl-4" *ngFor="let house of houses">
          <!-- Item onClick: to House Detail -->
          <div class="card rounded houseCardItem" routerLink="/house-detail/{{house.houseId}}">

            <!-- Image -->
            <img class="card-img-top" *ngIf="house.imagesOfHouses" id="houseItemImage"
              src="{{house.imagesOfHouses[0].imageLink}}" alt="House Image">

            <div class="card-body rounded-bottom ">
              <!-- Name -->
              <h5 class="card-title text-center font-weight-bold">{{house.houseName}}</h5>

              <!-- Distance -->
              <div class="card-text text-truncate maxWidthText orangeText fs-5">
                <span data-bs-toggle="tooltip" data-bs-placement="top"
                  data-bs-title="Khoảng cách từ cổng chính trường Đại học">
                  <i class="fa-solid fa-road me-2"></i>{{house.distanceToCampus | number}} km
                </span>
              </div>

              <!-- Price with VND format -->
              <div class="card-text grayText">
                <i class="fa-solid fa-tag me-2"></i>{{house.lowestRoomPrice |
                currency:'VND':'symbol':'3.0'}} -
                {{house.highestRoomPrice | currency:'VND':'symbol':'3.0'}}
              </div>

              <!-- Address -->
              <div class="card-text text-truncate maxWidthText grayText">
                <i class="fa-solid fa-location-dot me-2"></i>{{house.address.addresses}}
              </div>

              <!-- Statistics -->
              <div class="card-text grayText">
                <div class="d-flex">
                  <!-- Available Room Count -->
                  <div class="d-flex align-items-center me-3" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Tổng số phòng trống: {{house.totallyAvailableRoomCount + house.partiallyAvailableRoomCount}}; Số phòng trống hoàn toàn: {{house.totallyAvailableRoomCount}}; Số phòng tìm người ở ghép: {{house.partiallyAvailableRoomCount}}">
                    <span class="material-symbols-outlined me-1">
                      door_back
                    </span>
                    <span>
                      {{house.totallyAvailableRoomCount + house.partiallyAvailableRoomCount}}
                    </span>
                  </div>

                  <!-- Available Capacity Count -->
                  <div class="d-flex align-items-center" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Tổng số chỗ trống">
                    <span class="material-symbols-outlined me-1">
                      bed
                    </span>
                    <span>
                      {{house.availableCapacityCount}}
                    </span>
                  </div>
                </div>
              </div>

              <!-- Utility -->
              <div class="card-text text-truncate maxWidthText grayText">
                <div class="d-flex">
                  <!-- No Utility (not show up, only stay as placeholder) -->
                  <div *ngIf="house.fingerprintLock == false && house.camera == false && house.parking == false">
                    <span class="material-symbols-outlined me-1" style="visibility: hidden;">
                      fingerprint
                    </span>
                  </div>
                  <!-- Fingerprint -->
                  <div *ngIf="house.fingerprintLock == true">
                    <span class="material-symbols-outlined me-1" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Khóa vân tay">
                      fingerprint
                    </span>
                  </div>
                  <!-- Video camera -->
                  <div *ngIf="house.camera == true">
                    <span class="material-symbols-outlined me-1" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Camera an ninh">
                      videocam
                    </span>
                  </div>
                  <!-- Parking spot -->
                  <div *ngIf="house.parking == true">
                    <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                      title="Chỗ để xe">
                      local_parking
                    </span>
                  </div>
                </div>
              </div>

              <div class="d-flex justify-content-between">
                <!-- Rate -->
                <div class="rateHouse">
                  <!-- Display Star based on Average Rate -->

                  <!-- 5 Star -->
                  <div *ngIf="house.averageRate > 4.5">
                    <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                  </div>

                  <!-- 4 Star -->
                  <div *ngIf="house.averageRate > 3.5 && house.averageRate <= 4.5">
                    <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i>
                  </div>

                  <!-- 3 Star -->
                  <div *ngIf="house.averageRate > 2.5 && house.averageRate <= 3.5">
                    <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i>
                  </div>

                  <!-- 2 Star -->
                  <div *ngIf="house.averageRate > 1.5 && house.averageRate <= 2.5">
                    <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i>
                  </div>

                  <!-- 1 Star -->
                  <div *ngIf="house.averageRate > 0.5 && house.averageRate <= 1.5">
                    <i class="fa-solid fa-star"></i> <i class="fa-regular fa-star"></i> <i
                      class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i> <i class="fa-regular fa-star"></i>
                  </div>
                </div>

                <!-- View -->
                <div class="text-end grayText smallText">
                  <i class="fa-solid fa-eye me-2"></i>
                  <span>{{house.view}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!---------------- End House Item ---------------->
      </div>
      <!-- End List of Houses -->

      <!-- Paging -->
      <div class="d-flex justify-content-center align-items-center my-3">
        <nav aria-label="Pagination-nav">
          <ul class="pagination">
            <!-- Previous: Disabled if this is first page -->
            <li class="page-item" [ngClass]="{'disabled': pageNumber == 1}">
              <!-- Go to previous page -->
              <a class="page-link hoverableLink" aria-label="Previous" (click)="goToPage(pageNumber - 1)">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <!-- Numbers -->
            <li *ngFor="let page of pageList" class="page-item">
              <!-- Display this as active if it's the chosen page -->
              <a class="page-link hoverableLink" (click)="goToPage(page)"
                [ngClass]="{'active': pageNumber == page}">{{page}}</a>
            </li>
            <!-- Next: Disabled if this is last page -->
            <li class="page-item" [ngClass]="{'disabled': pageNumber == pageCount}">
              <!-- Go to next page -->
              <a class="page-link hoverableLink" aria-label="Next" (click)="goToPage(pageNumber + 1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- End Paging -->
    </div>
    <!-- End Display Houses -->
  </div>
  <!-- End Main content -->

  <!-- Create Order -->
  <div class=" bottom-0 end-0 me-5">
    <button type="button" class="btn btn-primary fw-semibold position-fixed bottom-0 end-0 me-5 createOrderButton"
      data-bs-toggle="modal" data-bs-target="#orderModal" data-bs-whatever="@getbootstrap">
      <i class="fa-solid fa-pen-to-square"></i>
      Đăng ký yêu cầu phòng trọ
    </button>

    <app-create-order></app-create-order>
  </div>
</div>
<!-- End Body -->

<!-- Footer -->
<!-- <app-footer></app-footer> -->

<!-- Alerts by SweetAlert2 -->
<swal #chooseCampusAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Vui lòng chọn Cơ sở bạn học trước!" icon="error">
</swal>
<swal #inputValueInvalidAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Giá trị nhập vào không hợp lệ!" icon="error">
</swal>