//House Card Item on Hover -> Clickable
.houseCardItem {
  cursor: pointer;
  margin: 10px 0;

  .card-body {
    background-color: #3E4F3C;
  }
}

.houseCardItem:hover {
  // scale: 1.1;
  // z-index: 99;

  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#roomFilterTitle {
  background-color: #3E4F3C;
}

#listRoomType {
  list-style: none;
}

//set fixed width for <select> of Regions in [Filter]
.selectRegion {
  width: 14vw;
}



//rate
.rateForm{
  //style for fontawesome icons
  i {
    color: #ffce3d;
    font-size: 15px;
    margin: 0 2px;
  }

  input{
    visibility: hidden;
  }

  label{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 20px;
  }

  input:checked + label{
    background: #ebebeb;
  }
}

.page-link
{
  color: black;
}

.page-link.active
{
  color: white !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}
