<app-staff-header></app-staff-header>

<div class="row m-2">
  <div class="col-12">
    <!-- Page content -->
    <div class="row">
      <span *ngIf="landlordSignupRequest.length === 0" class="emptyMesage">Hiện tại chưa có chủ trọ đăng ký</span>
      <div class="my-4" *ngIf="landlordSignupRequest.length != 0">
        <h3 class="text-center">Danh sách yêu cầu chủ trọ</h3>

        <table class="table table-hover landlordSingupRequest">
          <thead>
            <tr>
              <th scope="col" id="md">Họ Tên</th>
              <th scope="col">Email</th>
              <th scope="col" id="md">Số Điện Thoại</th>
              <th scope="col" id="md">Ảnh đại diện</th>
              <th scope="col" id="md">Ảnh Chứng Minh Thư</th>
              <th scope="col">Ngày Đăng Ký</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let landlord of landlordSignupRequest" data-bs-toggle="modal" data-bs-target="#selectedRequestModal" (click)="changeSelectedLandlord(landlord.userId)" style="cursor: pointer;">
              <td id="md">{{landlord.displayName}}</td>
              <td>{{landlord.email}}</td>
              <td id="md">{{landlord.phoneNumber}}</td>
              <td class="md" id="md">
                <img class="mb-2 profileImage" src="../../../assets/image/{{landlord.profileImageLink}}">
              </td>
              <td class="md" id="md" data-bs-toggle="modal" data-bs-target="#viewIdentityCardModal"
                (click)="changeSelectedLandlord(landlord.userId)" style="cursor: pointer">
                <img class="me-2 mb-2 identityCard"
                  src="../../../assets/image/{{landlord.identityCardFrontSideImageLink}}">
                <img class="mb-2 identityCard" src="../../../assets/image/{{landlord.identityCardBackSideImageLink}}">
              </td>
              <td>{{landlord.createdDate | date: "dd/MM/yyyy"}}</td>

              <!-- Action column -->
              <td>
                <div class="d-flex align-content-center flex-wrap">
                  <!-- Facebook URL -->
                  <div>
                    <a target="_blank" class="text-decoration-none me-2" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Fcebook chủ trọ" href="{{ landlord.facebookUrl }}">
                      <i class="fa-brands fa-facebook fs-2"></i>
                    </a>
                  </div>

                  <!-- Accept -->
                  <button type="button" class="btn btn-success btn-sm me-2"
                    (click)="updateUserStatus(landlord.userId, 1)">
                    Chấp Nhận
                  </button>

                  <!-- Deny -->
                  <button type="button" class="btn btn-danger btn-sm" (click)="updateUserStatus(landlord.userId, 3)">
                    Từ Chối
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End List of Rooms -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- Alerts by Template: sweetalert2 -->
<swal #acceptLandlordAlert title="Phê duyệt tài khoản thành công." icon="success" [showConfirmButton]="false"
  [toast]="true" [timer]="3000" [timerProgressBar]="true" position="top-end" background="#defad9">
</swal>

<swal #denyLandlordStatusAlert title="Từ chối tài khoản thành công." icon="success" [showConfirmButton]="false"
  [toast]="true" [timer]="3000" [timerProgressBar]="true" position="top-end" background="#defad9">
</swal>

<swal #updateLandlordStatusFailAlert title="Phê duyệt tài khoản thất bại." icon="error" [showConfirmButton]="false"
  [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true" background="#facfcf">
</swal>

<!-- View identity card modal -->
<!-- Modal -->
<div class="modal fade" id="viewIdentityCardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ảnh căn cước công dân</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="selectedLandlord">
        <img class="me-2 mb-2 viewIdentityCard"
          src="../../../assets/image/{{selectedLandlord.identityCardFrontSideImageLink}}">
        <img class="mb-2 viewIdentityCard"
          src="../../../assets/image/{{selectedLandlord.identityCardBackSideImageLink}}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="selectedRequestModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Thông tin chi tiết
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body" *ngIf="selectedLandlord">
        <span><b>Họ tên: </b>{{ selectedLandlord }}</span><br />
        <span><b>Số điện thoại: </b>{{ selectedLandlord }}</span><br />
        <span><b>Email: </b>{{ selectedLandlord }}</span><br />
        <span><b>Ngày đăng ký: </b>{{ selectedLandlord.createdDate | date: "dd/MM/yyyy" }}</span><br />
        <span><b>Ảnh đại diện: </b></span><br />
        <img class="mb-2 profileImage" src="../../../assets/image/{{selectedLandlord.profileImageLink}}">
        <span><b>Ảnh chứng minh thư: </b></span><br />
        <img class="me-2 mb-2 identityCard"
          src="../../../assets/image/{{selectedLandlord.identityCardFrontSideImageLink}}">
        <img class="mb-2 identityCard" src="../../../assets/image/{{selectedLandlord.identityCardBackSideImageLink}}">
      </div>
    </div>
  </div>
</div>
