<app-staff-header></app-staff-header>

<div class="row m-2">
  <div class="col-12">
    <!-- Page content -->
    <div class="row">
      <div class="my-4">
        <h3 class="text-center">Danh sách yêu cầu chủ trọ</h3>

        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Họ Tên</th>
              <th scope="col">Email</th>
              <th scope="col">Số Điện Thoại</th>
              <th scope="col">Facebook</th>
              <th scope="col">Ảnh</th>
              <th scope="col">Ảnh Chứng Minh Thư</th>
              <th scope="col">Ngày Đăng Ký</th>
              <th scope="col">Tùy chọn</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
              <td>the Bird</td>
              <td>
                <button type="button" class="btn btn-success me-2">Chấp Nhận</button>
                <button type="button" class="btn btn-danger">Từ Chối</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End List of Rooms -->

        <!-- Paging -->
        <div class="d-flex justify-content-center align-items-center mt-4">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link text-dark" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link text-dark" href="#">1</a></li>
              <li class="page-item"><a class="page-link text-dark" href="#">2</a></li>
              <li class="page-item"><a class="page-link text-dark" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link text-dark" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- End Paging -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
