<app-staff-header></app-staff-header>

<div class="row m-2">
  <div class="col-12">
    <!-- Page content -->
    <div class="row">
      <span *ngIf="landlordSignupRequest.length === 0" class="emptyMesage">Hiện tại chưa có chủ trọ đăng ký</span>
      <div class="my-4" *ngIf="landlordSignupRequest.length != 0">
        <h3 class="text-center">Danh sách yêu cầu chủ trọ</h3>

        <table class="table table-hover landlordSingupRequest">
          <thead>
            <tr>
              <th scope="col">Họ Tên</th>
              <th scope="col">Email</th>
              <th scope="col">Số Điện Thoại</th>
              <th scope="col">Ảnh đại diện</th>
              <th scope="col">Ảnh Chứng Minh Thư</th>
              <th scope="col">Ngày Đăng Ký</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let landlord of landlordSignupRequest">
              <td>{{landlord.displayName}}</td>
              <td>{{landlord.email}}</td>
              <td>{{landlord.phoneNumber}}</td>
              <td class="md">
                <img class="mb-2 profileImage" src="../../../assets/image/{{landlord.profileImageLink}}">
              </td>
              <td class="md">
                <img class="me-2 mb-2 identityCard"
                  src="../../../assets/image/{{landlord.identityCardFrontSideImageLink}}">
                <img class="mb-2 identityCard" src="../../../assets/image/{{landlord.identityCardBackSideImageLink}}">
              </td>
              <td>{{landlord.createdDate | date: "dd/MM/yyyy"}}</td>

              <!-- Action column -->
              <td>
                <div class="d-flex align-content-center flex-wrap">
                  <!-- Facebook URL -->
                  <div>
                    <a target="_blank" class="text-decoration-none me-2" data-bs-toggle="tooltip"
                      data-bs-placement="top" title="Fcebook chủ trọ" href="{{ landlord.facebookUrl }}">
                      <i class="fa-brands fa-facebook fs-2"></i>
                    </a>
                  </div>

                  <!-- Accept -->
                  <button type="button" class="btn btn-success btn-sm me-2"
                    (click)="updateUserStatus(landlord.userId, 1)">
                    Chấp Nhận
                  </button>

                  <!-- Deny -->
                  <button type="button" class="btn btn-danger btn-sm" (click)="updateUserStatus(landlord.userId, 0)">
                    Từ Chối
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- End List of Rooms -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- Alerts by Template: sweetalert2 -->
<swal #acceptLandlordAlert title="Phê duyệt tài khoản thành công."
  icon="success" [showConfirmButton]="false" [timer]="1500" position="top-end">
</swal>

<swal #denyLandlordStatusAlert title="Từ chối tài khoản thành công."
  icon="success" [showConfirmButton]="false" [timer]="1500" position="top-end">
</swal>

<swal #updateLandlordStatusFailAlert title="Phê duyệt tài khoản thất bại."
  icon="error" [showConfirmButton]="false" [timer]="1500" position="top-end">
</swal>


