<div class="col-md-6 offset-md-3 mt-5 text-center">
    <div class="card">
        <div class="card-body">
            <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
            <div id="g_id_onload"
                data-client_id="919349682446-etrauq4d5cluclesaifkcr4bnh4gru2j.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-callback="signInGoogle"
                data-auto_prompt="false">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-shape="rectangular"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="left">
            </div>
        </div>
    </div>
</div>