<div class="col-md-6 offset-md-3 mt-5 text-center">
    <div class="card">
        <div class="card-body">
            <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-layout="default" (click)="signInWithFB()"></div>
            <div #ggDiv></div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" #roleModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Role</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismissRoleModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <button type="button" class="btn btn-primary col-md-6" data-dismiss="modal" (click)="registerStudent()">Student</button>
            <button type="button" class="btn btn-secondary col-md-6" data-dismiss="modal" (click)="triggerRegisterModal()">Landlord</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" #registerModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Landlord Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="dismissRegisterModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <label for="phonenumber">Phone Number</label>
            <input type="text" id="phonenumber" formControlName="phonenumber"/>
            <br/>
            <label for="facebookUrl">Facebook Link</label>
            <input type="text" id="facebookUrl" formControlName="facebookUrl"/>
            <br/>
            <label for="identityCardFrontSideImageLink">Identity Card Front Side Image Link</label>
            <input type="text" id="identityCardFrontSideImageLink" formControlName="identityCardFrontSideImageLink"/>
            <br/>
            <label for="identityCardBackSideImageLink">Identity Card Back Side Image Link</label>
            <input type="text" id="identityCardBackSideImageLink" formControlName="identityCardBackSideImageLink"/>
            <button class="button" type="submit">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="dismissRegisterModal()">Close</button>
        </div>
      </div>
    </div>
</div>
  