<div class="col-md-6 offset-md-3 mt-5 text-center">
    <div class="card">
        <h4 class="card-header">Angular 10 Facebook Login Example</h4>
        <div class="card-body">
            <button class="btn btn-facebook">
                <i class="fa fa-facebook mr-1"></i>
                Login with Facebook
            </button>
            <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
        </div>
    </div>
</div>