<!--Header-->
<app-landlord-header></app-landlord-header>

<div class="container-fluit m-5">
  <h3 class="text-center my-5">Thêm nhà trọ mới</h3>
  <form class="row w-100 d-flex justify-content-around needs-validation" [formGroup]="houseForm" (submit)="houseForm.valid && addHouse()">
    <div class="col-12 col-md-5">
      <div class="mb-3">
        <label for="house_name" class="form-label"><b>Tên nhà trọ</b></label>
        <input type="text" class="form-control" id="house_name" placeholder="Nhập tên nhà trọ" formControlName="houseName" required>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['houseName'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label class="form-label"><b>Cơ sở</b></label>
        <select class="form-select" aria-label="Default select example" formControlName="campus" #selectCampus (change)="onCampusSelected(selectCampus.value)">
          <option *ngFor=" let campus of campuses" value="{{campus.campusId}}">
            {{campus.campusName}}</option>
        </select>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['campus'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label class="form-label"><b>Quận/Huyện</b></label>
        <select class="form-select" aria-label="Default select example" formControlName="district" #selectDistrict (change)="onDistrictSelected(selectDistrict.value)">
          <!-- List all Districts of selected Campus-->
          <option *ngFor=" let district of districtsOfSelectedCampus" value="{{district.districtId}}">
            {{district.districtName}}</option>
        </select>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['district'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label class="form-label"><b>Phường/Xã</b></label>
        <select class="form-select" aria-label="Default select example" formControlName="commune" #selectCommune (change)="onCommuneSelected(selectCommune.value)">
          <!-- List all Communes of selected District -->
          <option *ngFor="let commune of communesOfSelectedDistrict" value="{{commune.communeId}}">
            {{commune.communeName}}</option>
        </select>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['commune'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label class="form-label"><b>Thôn/Xóm</b></label>
        <select class="form-select" aria-label="Default select example" formControlName="village" #selectVillage (change)="onVillageSelected(selectVillage.value)">
          <!-- List all Villages of selected Commune -->
          <option *ngFor="let village of villagesOfSelectedCommune" value="{{village.villageId}}">
            {{village.villageName}}</option>
        </select>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['village'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label for="exampleInput2" class="form-label"><b>Địa chỉ</b></label>
        <input type="text" class="form-control" id="exampleInput2" placeholder="Nhập địa chỉ" formControlName="address" required>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['address'].errors?.['required']">Không được để trống</div>
      </div>
      
      <div>
        <label for="google_address" class="form-label"><b>Địa điểm Google Maps</b></label>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['googleAddress'].errors?.['required']">Không được để trống</div>
        <input class="form-control mb-2 d-none" id="google_address" value="21.01372035889419, 105.52699965513666" formControlName="googleAddress" readonly>
        <div id="google-map" style="height: 240px; background-color:aqua;">
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <div class="mb-3">
        <label for="exampleInput5" class="form-label"><b>Ảnh nhà (1)</b></label>
        <input type="file" class="form-control" id="exampleInput5" accept="image/*" formControlName="houseImg1" (change)="loadImage($event,1)" required>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['houseImg1'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label for="exampleInput6" class="form-label"><b>Ảnh nhà (2)</b></label>
        <input type="file" class="form-control" id="exampleInput6" accept="image/*" formControlName="houseImg2" (change)="loadImage($event,2)" required>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['houseImg2'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label for="exampleInput7" class="form-label"><b>Ảnh nhà (3)</b></label>
        <input type="file" class="form-control" id="exampleInput7" accept="image/*" formControlName="houseImg3" (change)="loadImage($event,3)" required>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['houseImg3'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label for="exampleInput3" class="form-label"><b>Giá điện (VNĐ/kWh)</b></label>
        <input type="number" class="form-control" id="exampleInput3" placeholder="Nhập giá điện" formControlName="powerPrice" required>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['powerPrice'].errors?.['required']">Không được để trống</div>
      </div>

      <div class="mb-3">
        <label for="exampleInput4" class="form-label"><b>Giá nước (VNĐ/m3)</b></label>
        <input type="number" class="form-control" id="exampleInput4" placeholder="Nhập giá nước" formControlName="waterPrice" required>
        <div class="invalid-feedback mb-3 d-block" *ngIf="houseForm.controls['waterPrice'].errors?.['required']">Không được để trống</div>
      </div>

      <label class="form-label"><b>Tiện ích</b></label>
      <div class="mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" formControlName="fingerprint">
        <label class="form-check-label ms-2 me-3" for="flexCheckDefault1">
          Khóa vân tay
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2" formControlName="camera">
        <label class="form-check-label ms-2 me-3" for="flexCheckDefault2">
          Camera giám sát
        </label>
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" formControlName="parking">
        <label class="form-check-label ms-2 me-3" for="flexCheckDefault3">
          Chỗ để xe
        </label>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label"><b>Thông tin mô tả</b></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" formControlName="information"></textarea>
      </div>
    </div>

    <div class="text-center col-12">
      <button class="btn btn-success w-25 mt-4" type="submit">Thêm mới</button>
    </div>
  </form>
</div>

<swal
  #serverErrorAlert
  [toast]="true"
  position="top-end"
  [timer]="3000"
  [timerProgressBar]="true"
  title="Lỗi Server"
  icon="error">
</swal>
<swal
  #addRoom
  title="Thêm phòng"
  text="Bạn có muốn thêm phòng cho nhà trọ?"
  icon="question"
  [showCancelButton]="true"
  [focusCancel]="true"
  (confirm)="navAddRoom()"
  (dismiss)="navDashboard()"
  >
</swal>