<!--Footer-->
<div class="navbar nav container-fluit d-flex justify-content-between align-items-start text-white footer orangeBackround">
<div class="col-12 col-md-3 mt-3 text-center" id="img">
  <img src="../assets/image/logo-fpt.png" alt="Logo FPT Education" height="70">
</div>

<div class="copyright col-12 col-md-3 my-3 px-3">
  <div>
    <b>FPT Education</b>
    <br>
    <span>Hoa Lac High Tech Park, Hanoi, vietnam</span>
    <br>
    <span>Email: fpteducation@fe.edu.vn</span>
  </div><br>

  <div>
    <a href="https://www.facebook.com/educationfpt/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
    <a href="https://www.youtube.com/user/FPTUniversityChannel" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    <br>
    Sitemap website<br>
    Copyright © 2017 FPT Education
  </div>
</div>

<div class="news col-12 col-md-3 my-3 px-3">
  <div>
    <b>Tin tức</b><br>
    <a href="https://fpt.edu.vn/tin-tuc/hoc-tap-khac-biet" target="_blank">Học tập khác biệt</a><br>
    <a href="https://fpt.edu.vn/tin-tuc/moi-truong-giau-trai-nghiem" target="_blank">Môi trường giàu trải nghiệm</a><br>
    <a href="https://fpt.edu.vn/tin-tuc/da-dang-sac-mau-quoc-te" target="_blank">Đa dạng màu sắc quốc tế</a><br>
    <a href="https://fpt.edu.vn/tin-tuc/thanh-cong-sau-tot-nghiep" target="_blank">Thành công sau tốt nghiệp</a><br>
    <a href="https://fpt.edu.vn/tin-tuc/fpt-edu-chuyen-dat-nguoi" target="_blank">FPT Edu - Chuyện đất & người</a><br>
    <a href="https://fpt.edu.vn/tin-tuc/fpt-edu-tin-tuc-chung" target="_blank">FPT Edu - Tin tức chung</a><br>
    <a href="https://fpt.edu.vn/tin-tuc/ban-chuyen-giao-duc" target="_blank">Bàn chuyên giáo dục</a><br>
    <a href="https://fpt.edu.vn/tin-tuc/phuc-vu-cong-dong" target="_blank">Phục vụ cộng đồng</a>
  </div>
</div>

<div class="admission col-12 col-md-3 my-3 px-3">
  <b>Tuyển sinh</b><br>
  <a href="https://fpt.edu.vn/don-vi/dai-hoc-fpt.html" target="_blank">Đại học FPT</a><br>
  <a href="https://fpt.edu.vn/don-vi/greenwich-viet-nam.html" target="_blank">Greenwich Việt Nam</a><br>
  <a href="https://fpt.edu.vn/don-vi/swinburne-viet-nam.html" target="_blank">Swinburne Việt Nam</a><br>
  <a href="https://fpt.edu.vn/don-vi/cao-dang-fpoly.html" target="_blank">Cao đẳng FPT Polytechnic</a><br>
  <a href="https://fpt.edu.vn/don-vi/vien-dao-tao-quoc-te.html" target="_blank">Viện Đào tạo Quốc tế FPT</a><br>
  <a href="https://fpt.edu.vn/don-vi/melbourne-polytechnic-vietnam.html" target="_blank">Melbourne Polytechnic Việt Nam</a><br><br>

  <b>Sinh viên quốc tế</b><br>
  <a href="https://fpt.edu.vn/don-vi/sinh-vien-quoc-te.html" target="_blank">Ngắn hạn</a><br>
  <a href="https://fpt.edu.vn/don-vi/sinh-vien-quoc-te.html" target="_blank">Dài hạn</a>
</div>
</div>
