.footer{
  .news, .admission, .internationalStudent{
    ul{
      list-style: none;
      text-align: left;
    }

    a{
      color: white;
      text-decoration: none;
    }

    a:hover{
      color: white;
      text-decoration: none;
    }
  }

  .copyright{
    text-align: left;
    //border-left: white solid 1px;
    //padding: 0 20px;

    i{
      color: #FF6F3D;
      background-color: white;
      margin-right: 10px;
      width: 40px;
      text-align: center;
      padding: 8px;
      border: solid 1px white;
      border-radius: 8px;
    }
    i:hover{
      //background-color: black;
      //border: solid 1px black;
      opacity: 0.8;
    }
  }
}
