<div class="modal fade" id="orderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">Đăng ký yêu cầu phòng trọ</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">

                        <!-- name -->
                        <div class="col-md-6 ml-auto">Tên
                            <br>
                            <input type="text" class="form-control" id="studentName"
                                [(ngModel)]="orderDetail.studentName" name="studentName">
                        </div>
                    </div>
                    <div class="row">
                        <!-- price -->
                        <div class="col-md-6">Số điện thoại
                            <br>
                            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="orderDetail.phoneNumber" name="phoneNumber">
                        </div>
                        <!-- building -->
                        <div class="col-md-6 ml-auto">Email
                            <br>
                            <input type="text" class="form-control" id="email" [(ngModel)]="orderDetail.email" name="email">
                        </div>
                    </div>

                    <div class="row">
                        <!-- info -->
                        <div class="col-md-6">Nguyện vọng
                            <br>
                            <input type="text" class="form-control" id="orderContent" [(ngModel)]="orderDetail.orderContent" name="orderContent">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" (click)="addOrder()">Send message</button>
            </div>
        </div>