<!--Header-->
<div class="navbar nav d-flex justify-content-between text-center text-white orangeBackround">
  <div class="logo col-12 col-md-2 my-2">
    <!-- Link back to Home -->
    <a (click)="backHome()" id="app-name">
      <img src="/assets/image/Logo.png" alt="..." width="70px">
      <h6>FU House Finder</h6>
    </a>
  </div>

  <!-- Title -->
  <div class="col-12 col-md-8 my-2">
    <h1>TÌM TRỌ SINH VIÊN FPT</h1>
    <div>
      <a href="/home" class="text-white text-decoration-none mx-2" id="link">Trang chủ</a>|
      <a href="https://daihoc.fpt.edu.vn/tuyen-sinh/" target="_blank" class="text-white text-decoration-none mx-2"
        id="link">Tuyển sinh</a>|
      <a href="https://daihoc.fpt.edu.vn/lien-he-voi-chung-toi/" target="_blank"
        class="text-white text-decoration-none mx-2" id="link">Liên hệ</a>|
      <a href="https://daihoc.fpt.edu.vn/gioi-thieu-dai-hoc-fpt/" target="_blank"
        class="text-white text-decoration-none mx-2" id="link">Giới thiệu</a>
    </div>
  </div>

  <!-- If user has not logged in -->
  <div class="col-12 col-md-2 my-2" *ngIf="!logged_in">
    <button class="btn btn-light" id="loginButton" (click)="login()">Đăng nhập</button>
  </div>

  <!-- If user has logged in -->
  <div class="col-12 col-md-2 my-2" *ngIf="logged_in">
    <div class="btn-group">
      <button class="btn btn-light dropdown-toggle" id="loginButton" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        {{userDisplayName}}
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <a class="dropdown-item fw-semibold" href="#" id="dropdownItem" (click)="logout()">
            <span class="me-2">
              <i class="fa-solid fa-right-from-bracket"></i>
            </span>
            Đăng xuất
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>