<div class="card col-12 col-md-3" style="width: 18rem;">
  <div class="card-header text-center text-white bg-secondary">
    Menu
  </div>
  <ul class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/dashboard">Home</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-landlord">Quản lý chủ trọ</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-house">Quản lý nhà trọ</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-report">Quản lý báo cáo vi phạm</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/Staff/list-order">Nguyện vọng đăng ký nhà ở của sinh viên</a>
  </ul>
</div>
