@media only screen and (max-width: 768px) {
  #md
  {
    display: none;
  }

  img
  {
    width: 50% !important;
    height: 50% !important;
  }
}

#btn:hover
{
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

#btn:active
{
  background-color: rgb(147, 147, 147);
  border-radius: 5px;
}

// For display footer at bottom
.emptyMesage{
  font-weight: bold;
  color: red;
  text-align: center;
  font-size: 15pt;
}
