<!-- Button trigger modal -->
<button #modalButton type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmOrderModal"
  style="display: none;">
  Launch Modal
</button>

<!-- Modal -->
<div class="modal fade" id="confirmOrderModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="confirmOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h1 class="modal-title fs-5" id="confirmOrderModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" id="btn" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>