.modal-header
{
  background-color: #ee4d2d !important;
}

#btn
{
  background-color: #ee4d2d !important;
  border-color: #ee4d2d !important;
}

#btn:hover
{
  background-color: #e73310 !important;
  border-color: #e73310 !important;
}
