<div class="modal fade" id="confirmOrderModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="orderModalLabel">Đăng ký yêu cầu phòng trọ</h5>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>

      </div>
    </div>
  </div>
</div>
<swal #orderSuccessAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Gửi đơn thành công" icon="success">
</swal>
<swal #orderErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Vui lòng đăng nhập để sử dụng tính năng này!" icon="error">
</swal>
<swal #orderRoleErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Chỉ học sinh có thể sử dụng tính năng này!" icon="error">
</swal>
