<app-admin-header></app-admin-header>

<!-- Body -->
<div class="m-2">

  <!-- Main Content -->
  <div>
    <!-- List staff -->
    <div class="my-5">
      <h3 class="text-center">Danh sách tuyển sinh</h3>

      <div class="my-4" *ngIf="staffs">
        <button class="btn btn-success d-flex justify-content-center align-items-center py-2" (click)="addStaff()">
          <i class="fa-solid fa-user-plus fs-5 me-2"></i>
          <div>
            Thêm mới
          </div>
        </button>
      </div>

      <!-- Display Loading Spinner when List Staff is not yet loaded -->
      <div class="container-fluid d-flex justify-content-center my-5" *ngIf="staffs === undefined">
        <div class="spinner-border text-danger" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- Case: No data -->
      <div *ngIf="staffs && staffs.length <= 0">
        <div class="emptyMesage text-center">Chưa có nhân viên</div>
      </div>

      <!-- Case: Have data -->
      <div *ngIf="staffs && staffs.length > 0">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col" id="md">STT</th>
              <th scope="col">Họ và tên</th>
              <th scope="col">Email</th>
              <th scope="col">Vị trí</th>
              <th scope="col">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dataItem of staffs; let i = index">
              <!-- Staff id -->
              <td id="md"><b>{{ i + 1 }}</b></td>

              <!-- Staff name -->
              <td>{{dataItem.displayName}}</td>

              <!-- Email -->
              <td>{{dataItem.email}}</td>

              <!-- Role -->
              <td>
                <div *ngIf="dataItem.roleId === 3">Trưởng phòng tuyển sinh</div>
                <div *ngIf="dataItem.roleId === 4">Trưởng phòng dịch vụ sinh viên</div>
                <div *ngIf="dataItem.roleId === 5">Cán bộ phòng tuyển sinh</div>
                <div *ngIf="dataItem.roleId === 6">Nhân viên phòng phục vụ sinh viên</div>
              </td>

              <td>
                <a class="text-decoration-none text-warning me-3" (click)="updateStaff(dataItem.userId)"
                  style="cursor: pointer;">
                  <i class="fa-solid fa-pen fs-4"></i>
                </a>
                <a class="text-decoration-none text-danger" (click)="confirmDelete(dataItem.userId)"
                  style="cursor: pointer;">
                  <i class="fa-solid fa-trash fs-4"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <!-- End Main content -->
</div>
<!-- End Body -->

<!-- <app-footer></app-footer> -->
<swal #deleteStaffAlert title="Xóa tài khoản nhân viên" text="Bạn có muốn xóa tài khoản này?" icon="warning"
  [showCancelButton]="true" [focusCancel]="true" (confirm)="deleteStaff()">
</swal>