<div class="row">
  <div class="col-3" style="margin: 0;">
    <div class="sidebar">
      <a class="active" href="/Staff/dashboard">Home</a>
      <a href="/Staff/list-landlord">Quản lý chủ trọ</a>
      <a href="/Staff/list-house">Quản lý nhà trọ</a>
      <a href="/Staff/list-report">Quản lý báo cáo vi phạm</a>
      <a href="">Nguyện vọng đăng ký nhà ở của sinh viên</a>
    </div>
  </div>
  <div class="col-9">
    <div class="container">
      <h3 class="text-center mb-4">Danh sách đăng ký chỗ ở</h3>
      <!-- Filter -->
      <div class="row">
        <!-- Date picker -->
          <h6>Lọc</h6>
          <!-- Start date -->
          <div class="col-3">
            <label class="form-label">Từ ngày</label>
            <input class="form-control" type="date">
          </div>
          <!-- End date -->
          <div class="col-3">
            <label class="form-label">Đến ngày</label>
            <input class="form-control" type="date">
          </div>
        <!-- End date picker -->

        <!-- Trạng thái -->
        <div class="col-3">
          <label class="form-label">Trạng thái</label>
          <select class="form-select">
            <option>Chọn trạng thái</option>
            <option>Chưa xử lý</option>
            <option>Đang xử lý</option>
            <option>Đã xử lý</option>
          </select>
        </div>
        <!-- Order by -->
        <div class="col-3">
          <label class="form-label">Sắp xếp theo</label>
          <select class="form-select">
            <option>Chọn cách sắp xếp</option>
            <option>Ngày gần nhất</option>
            <option>Ngày xa nhất</option>
          </select>
        </div>
      </div>
      <!-- End filter -->
      <!-- List of order -->
      <div class="row">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Mã sinh viên</th>
              <th scope="col">Tên sinh viên</th>
              <th scope="col">Số điện thoại</th>
              <th scope="col">Email</th>
              <th scope="col">Yêu cầu</th>
              <th scope="col">Ngày tạo</th>
              <th scope="col">Ngày giải quyết</th>
              <th scope="col">Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.studentId}}</td>
              <td>{{order.studentName}}</td>
              <td>{{order.phoneNumber}}</td>
              <td>{{order.email}}</td>
              <td>{{order.orderContent}}</td>
              <td>{{order.orderedDate| date:'shortDate'}}</td>
              <td>{{order.solvedDate| date:'shortDate'}}</td>
              <td *ngIf="order.solved == true">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                  <br>
                  <label class="form-check-label" for="flexSwitchCheckChecked">Đã xử lý</label>
                </div>
              </td>
              <td *ngIf="order.solved == false">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                  <br>
                  <label class="form-check-label" for="flexSwitchCheckDefault">Chưa xử lý</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Paging -->
      <!-- <div class="d-flex justify-content-center align-items-center my-3">
        <nav aria-label="Pagination-nav">
          <ul class="pagination"> -->
            <!-- Previous: Disabled if this is first page -->
            <!-- <li class="page-item" [ngClass]="{'disabled': pageNumber == 1}"> -->
              <!-- Go to previous page -->
              <!-- <a class="page-link" aria-label="Previous" routerLink="" (click)="goToPage(pageNumber - 1)">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li> -->
            <!-- Numbers -->
            <!-- <li *ngFor="let page of pageList" class="page-item"> -->
              <!-- Display this as active if it's the chosen page -->
              <!-- <a class="page-link" routerLink="" (click)="goToPage(page)"
                [ngClass]="{'active': pageNumber == page}">{{page}}</a>
            </li> -->
            <!-- Next: Disabled if this is last page -->
            <!-- <li class="page-item" [ngClass]="{'disabled': pageNumber == pageCount}"> -->
              <!-- Go to next page -->
              <!-- <a class="page-link" aria-label="Next" routerLink="" (click)="goToPage(pageNumber + 1)">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>-->
      <!-- End Paging -->
      </div>
      <!-- End list of order -->
    </div>



  </div>
</div>
