.backgroundGray {
  background-color: #f5f5f5;
}

.backgroundWhite{
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  #menu1
  {
    display: none;
  }

  #menu2
  {
    display: inline !important;
  }
}

@media only screen and (max-width: 768px) {
  #md
  {
    display: none;
  }
}

#btn:hover
{
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

#btn:active
{
  background-color: rgb(147, 147, 147);
  border-radius: 5px;
}
.year, .month, .week, .day{
  padding: 10px;
    border-radius: 10px;
    color: white;
    span{
      font-size: 30px;
      font-weight: 600;
    }
}

.year{
  background-image: linear-gradient(to bottom right, #e4417e, #b558a0);
}

.month{
  background-image: linear-gradient(to bottom right, #8f6fb8, #5349b1);
}

.week{
  background-image: linear-gradient(to bottom right, #4bbae0, #5f8fcf);
}

.day{
  background-image: linear-gradient(to bottom right, #f5b22f, #f5744e);
}

// Dark Paging
.page-link {
  color: black;
}

.page-link.active {
  color: white !important;
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

// hover effect for <a> in Paging
.hoverableLink:hover {
  cursor: pointer;
}
