.sidebar{
  position: relative;
  background-color: #7F886B;
  padding: 0;
  height: 100%;

  a{
    color: white;
    display: block;
    padding: 15px;
    text-decoration: none;
  }

  a:hover{
    background-color: #3E4F3C;
    color: white;
  }
}
