<!-- Display Loading Spinner when House Detail is not yet loaded -->
<div class="container" *ngIf="houseDetail === undefined || landlordDetail === undefined">
  <div class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Only Display when House Detail is loaded -->
<div class="container" *ngIf="houseDetail && landlordDetail">
  <div class="row">
    <div class="col-8">
      <!-- House images -->
      <img id="houseImage" src="../../assets/image/HouseImage.jpg" alt="..." width="100%">

      <!-- House detail information-->
      <div class="house-information">
        <h3>{{houseDetail.houseName}}</h3>
        <span><b>Giá điện: </b> {{houseDetail.powerPrice}}/kWh</span>
        <br>
        <span><b>Giá nước: </b> {{houseDetail.waterPrice}}/m3</span>
        <br>
        <span><b>Địa chỉ: </b>{{houseDetail.address.addresses}}</span>
        <br>
        <span><b>Thông tin khác: </b>{{houseDetail.information}}</span>
      </div>

      <!-- List available rooms -->
      <div class="availableRooms">
        <h5>Danh sách phòng trống</h5>
        <table>
          <thead>
            <th>Phòng</th>
            <th>Giá phòng</th>
            <th>Loại phòng</th>
            <th>Đang ở</th>
            <th>Ghi chủ</th>
          </thead>
          <tbody>
            <tr *ngFor="let dataItem of availableRooms">
              <td>{{dataItem.roomName}}</td>
              <td>{{dataItem.price}}</td>
              <td>{{dataItem.price}}</td>
              <td>{{dataItem.currentAmountOfPeople}}</td>
              <td>{{dataItem.information}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="col-4">
      <!-- Landlord information -->
      <div class="landlordInformation">
        <h4>Thông tin chủ trọ</h4>
        <!-- Landlord's avatar -->
        <img src="../../assets/image/LandlordAvatar.jpg" alt="Landlord's avatar" width="250px" height="200px">
        <br>
        <!-- Other information -->
        <span>
          <b>Họ và tên: </b>
          {{landlordDetail.displayName}}
        </span>
        <br>
        <span>
          <b>Facebook: </b>
          <a href="{{landlordDetail.facebookUrl}}">{{landlordDetail.facebookUrl}}</a>
        </span>
        <br>
        <span>
          <b>Số điện thoại: </b>
          {{landlordDetail.phoneNumber}}
        </span>
        <br>
        <span>
          <b>Địa chỉ: </b>
          {{landlordDetail.address.addresses}}
        </span>
      </div>

      <!-- Google map -->
      <iframe id="googleMap"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.995814709238!2d105.51943301488284!3d20.992804886017904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345bae7a5f0d39%3A0xec177bce6cdc3a46!2zSG_DoCBM4bqhYyBBcGFydG1lbnQ!5e0!3m2!1svi!2s!4v1665457315377!5m2!1svi!2s"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
    </div>
</div>
