@media only screen and (max-width: 768px) {
  #logo
  {
    display: none;
  }
}

.whiteButton{
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  color: #FF6F3D;
  font-weight: 600
}

.whiteButton:hover{
  background-color: #ececec;
}

.identityCard{
  height: 270px;
  width: 360px;

  .dragAndDropArea{
    position:relative;
    border: 2px dashed #bbbbbb;
    width: 360px;
    height: 270px;
    border-radius: 10px;
    padding: 8px;
    background-color: #F7F7F7;

    img:first-child{
      width: 340px;
      max-height: 250px;
      position:absolute;
      z-index: 1;
      height: auto;
      justify-content: center;
      display: flex;
    }

    span{
      position: absolute;
      margin-top: 160px;
      margin-left: 110px;
      color: #868686;
    }

    div{
      position: absolute;
      margin-top: 90px;
      margin-left: 140px;
    }
  }
}

.orangeButton{
  background-color: #ee4d2d;
  width: 100px;
  color: white;
}
.orangeButton:hover{
  background-color: #e83b19;
}

.greyButton{
  background-color: #6c757d;
  width: 100px;
  color: white;
}
.greyButton:hover{
  background-color: #5c636a;
}

::ng-deep .mat-step-header .mat-step-icon-selected{
  background-color: #ee4d2d !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-done{
  background-color: #ee4d2d !important;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit{
  background-color: #ee4d2d !important;
}
