<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">

<ng-container class="col-md-6 offset-md-3 mt-5 text-center" #loginTemplate *ngIf="!login; else registerTemplate">
  <div class="row d-flex justify-content-center">
    <div class="col-auto">
      <div class="row d-flex justify-content-center m-2">
        <div class="fb-login-button col-auto" data-width="250" data-size="large" data-button-type="continue_with"
          data-layout="default"></div>
      </div>
      <div class="row d-flex justify-content-center m-2">
        <div clasd="col-auto" style="width: fit-content;" #ggDiv></div>
      </div>
      <div class="row m-5">
        <form class="col" [formGroup]="loginForm" (ngSubmit)="loginUsernamePassword()">
          <div class="row d-flex justify-content-center m-2">
            <mat-form-field appearance="fill" style="width: 270px;">
              <mat-label>Tên đăng nhập</mat-label>
              <input matInput type="text" style="width: 250px; height: 30px;" id="username" formControlName="username" required>
            </mat-form-field>
          </div>
          <div class="row d-flex justify-content-center m-2">
            <mat-form-field appearance="fill" style="width: 270px;">
              <mat-label>Mật khẩu</mat-label>
              <input matInput type="password" style="width: 250px; height: 30px;" id="password" formControlName="password" required>
            </mat-form-field>
          </div>
          <div class="row d-flex justify-content-center m-2">
            <button class="btn btn-primary" style="width: 250px; height: 40px;" type="submit">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #registerTemplate>
  <mat-stepper [linear]="true" #stepper>
    <mat-step label="Điền Thông tin liên hệ" [stepControl]="contactForm">
      <form [formGroup]="contactForm">
        <div  class="row d-flex justify-content-center">
          <div class="col-auto" style="width: 400px;">
            <div class="row">
              <mat-form-field appearance="fill" style="width: 400px;" class="m-0 p-0">
                <mat-label>Số điện thoại</mat-label>
                <input matInput type="tel" style="width: 250px; height: 30px;" id="phonenumber" formControlName="phonenumber" required>
              </mat-form-field>
            </div>
            <div class="row">
              <mat-form-field appearance="fill" style="width: 400px;" class="m-0 p-0">
                <mat-label>Link Facebook</mat-label>
                <input matInput type="url" style="width: 250px; height: 30px;" id="facebookUrl" formControlName="facebookUrl" required>
              </mat-form-field>
            </div>
            <div class="row d-flex justify-content-end">
              <button class="col-auto" mat-raised-button color="primary" matStepperNext style="width: 100px;">Next</button>
            </div>
          </div>
        </div>
      </form>
    </mat-step>
    <mat-step label="Chụp ảnh CMND" [stepControl]="imageForm">
      <div class="row d-flex justify-content-center">
        <div class="col-auto" style="width: 600px;">
          <div class="row d-flex justify-content-around">
            <div class="col-auto" style="width: 290px">

              <input type="file">
            </div>
            <div class="col-auto" style="width: 290px">

              <input type="file">
            </div>
          </div>
          <div class="row d-flex justify-content-between">
            <button mat-raised-button matStepperPrevious style="width: 100px;">Back</button>
            <button mat-raised-button color="primary" matStepperNext style="width: 100px;">Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step label="Xác nhận thông tin">
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</ng-template>