// Login page
// Login button
.whiteButton {
  width: 150px;
  height: 40px;
  background-color: #ffffff;
  color: #ff6f3d;
  font-weight: 600;
}

.whiteButton:hover {
  background-color: #ececec;
}

#FPTULogo {
  width: 10vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#FUHouseFinderLogo {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.orangeText {
  color: #ff6f3d;
  text-align: center
}

.whiteText {
  color: white;
  text-align: center
}

.loginCol {
  background-color: #ff6f3d;

  .titleLogin {
    margin-bottom: 20px;
  }

  //Input in Login

  // .formCover {
  // background-color: white;
  // margin-left: 30%;
  // margin-right: 30%;
  // margin-top: 5%;
  // margin-bottom: 3%;
  // padding-top: 1%;
  // padding-bottom: 1%;
  // //border-radius: 30px;
  // box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  // }

  .loginInput {
    width: 350px;
  }

  .loginInputField {
    height: 35px;
    padding: 5px;
    //border-radius: 5px;
    //background-color: white;
  }

  span {
    text-align: center;
    color: #ffe6e6;
    font-size: 11pt;
    margin-top: 20px;
  }
}

// End login page

// Upload identity card
.identityCard {
  height: 270px;
  width: 360px;
  margin: 0.25rem;

  .dragAndDropArea {
    position: relative;
    border: 2px dashed #bbbbbb;
    width: 360px;
    height: 270px;
    border-radius: 10px;
    background-color: #f7f7f7;

    img:first-child {
      width: 100%;
      max-height: 100%;
      position: absolute;
      z-index: 1;
      height: auto;
      justify-content: center;
      display: flex;
    }

    span {
      position: absolute;
      margin-top: 90px;
      margin-left: 110px;
      color: #868686;
    }

    div {
      position: absolute;
      margin-top: 90px;
      margin-left: 140px;
    }
  }
}

// End upload identity card

// Stepper Header Not Finished
::ng-deep .mat-step-header .mat-step-icon-state-number {
  background-color: #ee4d2d;
  color: #fff;
}

// Stepper Header finished
::ng-deep .mat-step-header .mat-step-icon-selected,
::ng-deep .mat-step-header .mat-step-icon-state-done,
::ng-deep .mat-step-header .mat-step-icon-state-edit {
  background-color: #ee4d2d;
  color: #fff;
}

// Button color
.mat-orange {
  background-color: #ee4d2d;
  color: #fff;
}

// Back, Next buttons
.orangeButton {
  background-color: #ee4d2d;
  color: white;
  width: 100px;
}

.orangeButton:hover {
  background-color: #e83b19;
}

.blueButton {
  background-color: #022572;
  color: white;
  width: 100px;
}

.blueButton:hover {
  background-color: #021d57;
}

//End buttons

//Landlord register
.regiter {
  min-height: 57vh;

  .step1 {
    width: 400px;

    input {
      width: 250px;
      height: 30px;
    }
  }

  .step2 {
    width: 800px;
  }

  .step3 {
    b:first-child {
      text-align: center;
      text-align: center;
      font-size: 13pt;
    }

    table {
      border: none;
    }

    table:last-child {
      tr {
        td {
          width: 15vw;
          // .viewIdentityCard {
          //   max-height: 75%;
          //   max-width: 100%;
          // }
        }
      }
    }
  }
}

#backHomeButton{
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 40px;
}

// Responsive
// Small screen
@media only screen and (max-width: 768px) {
  #logo {
    display: none;
  }


  .identityCard:nth-child(2) {
    margin-top: 2.7rem;
  }

  .viewIdentityCard {
    width: 35vw;
  }

  .step3 {
    table:first-child {
      tr {
        td:first-child {
          width: 30vw;
        }
      }

      .viewIdentityCard {
        width: 35vw;
      }
    }
  }
}

// Large screen
@media only screen and (min-width: 768px) {
  .step3 {
    div:first-child {
      padding-right: 10vw;
      padding-left: 10vw;
    }

    .viewIdentityCard {
      width: 25vw;
    }
  }
  #backHomeButton{
    display: none;
  }
}
