<app-header></app-header>
<!-- Display Loading Spinner when House Detail is not yet loaded -->
<div class="container-fluid" *ngIf="houseDetail === undefined || landlordDetail === undefined">
  <div class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<nav class="mx-1 mx-md-5 mt-3 ps-3 fs-6" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-danger" onclick="history.back()" style="cursor: pointer;">Trang chủ</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">></li>
    <li class="breadcrumb-item active" aria-current="page">Chi tiết nhà trọ</li>
  </ol>
</nav>

<!-- Only Display when House Detail is loaded -->
<div class="mx-1 mx-md-5 mb-5 mt-3 d-flex justify-content-center" *ngIf="houseDetail && landlordDetail">
  <div class="row w-100 d-flex justify-content-evenly">
    <div class="col-12 col-md-7">
      <!-- House images -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
          <div *ngIf="i > 1" class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
        </div>
        <div class="carousel-inner rounded">
          <div class="carousel-item active" *ngIf="houseDetail.imagesOfHouses">
            <img id="img" src="../../assets/image/House/{{houseDetail.imagesOfHouses[0].imageLink}}" class="w-100" height="450"
              alt="...">
          </div>
          <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
            <div class="carousel-item" *ngIf="i >= 1">
              <img id="img" src="../../assets/image/House/{{image.imageLink}}" class="w-100" height="450" alt="...">
            </div>
          </div>
        </div>
        <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
          <div *ngIf="i > 1">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <!-- House detail information-->
      <div class="house-information border border-secondary rounded mt-5 p-2">
        <h3 class="text-center">{{houseDetail!.houseName}}</h3>
        <span><b>Giá điện: </b> {{houseDetail!.powerPrice}}/kWh</span>
        <br>
        <span><b>Giá nước: </b> {{houseDetail!.waterPrice}}/m3</span>
        <br>
        <span><b>Địa chỉ: </b>{{houseDetail!.address!.addresses}}</span>
        <br>
        <span><b>Thông tin khác: </b>{{houseDetail!.information}}</span>
      </div>

      <!-- Google Map Location -->
      <div *ngIf="mapUrl">
        <iframe id="googleMap" class="w-100 h-25 my-5 border border-secondary rounded" [src]="mapUrl | safe"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

    <div class="col-12 col-md-5">
      <!-- Landlord information -->
      <div class="landlordInformation border border-secondary rounded p-2">
        <h3 class="text-center">Thông tin chủ trọ</h3>
        <!-- Landlord's avatar -->
        <div class="d-flex justify-content-center align-items-center my-3">
          <img src="../../assets/image/LandlordAvatar.jpg" alt="Landlord's avatar" class="rounded w-50 h-50">
        </div>
        <!-- Other information -->
        <span>
          <b>Họ và tên: </b>
          {{landlordDetail.displayName}}
        </span>
        <br>
        <span>
          <b>Facebook: </b>
          <a href="{{landlordDetail!.facebookUrl}}">{{landlordDetail!.facebookUrl}}</a>
        </span>
        <br>
        <span>
          <b>Số điện thoại: </b>
          <a class="phoneOn" (click)="isOn = true" *ngIf="isOn == false">Click để hiển thị</a>
          <span class="phoneOff" *ngIf="isOn == true">{{landlordDetail!.phoneNumber}}</span>
        </span>
        <br>
        <span>
          <b>Địa chỉ: </b>
          {{landlordDetail!.address.addresses}}
        </span>
      </div>

      <!-- Rate and comment -->
      <div class="my-5 border border-secondary rounded p-2">
        <h3 class="text-center">Người dùng đánh giá</h3>
        Bình luận:
        <div class="bg-light border border-secondary rounded mb-2 p-2" style="overflow: auto;">
          <div *ngIf="rates.length === 0">
            Chưa có đánh giá
          </div>
          <div *ngFor="let rate of rates">
            <div class="d-flex">
              <span>
                {{rate.studentId}}: {{rate.comment}}
                  <span *ngIf="rate.star === 1">
                    (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
                  </span>
                  <span *ngIf="rate.star === 2">
                    (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
                  </span>
                  <span *ngIf="rate.star === 3">
                    (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
                  </span>
                  <span *ngIf="rate.star === 4">
                    (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
                  </span>
                  <span *ngIf="rate.star === 5">
                    (<i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>
                    <i id="rateStar" class="star fa-solid fa-star text-warning"></i>)
                  </span>
              </span>
            </div>

            <div *ngIf="rate.landlordReply !== null">
              <i class="fa-solid fa-arrow-right"></i> Chủ trọ trả lời: {{rate.landlordReply}}
            </div>
          </div>

          <!-- Nguyễn Văn A: Đẹp, gần trường (<i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>)
          <br> <i class="fa-solid fa-arrow-right"></i> Chủ trọ trả lời: Cảm ơn bạn nhiều -->
        </div>
        Viết bình luận:
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="comment">
        <div class="my-2 d-flex">
          Đánh giá:
          <div class="ms-2" *ngIf="star === 0">
            <i class="star fa-regular fa-star" (click)="star1()"></i>
            <i class="star fa-regular fa-star" (click)="star2()"></i>
            <i class="star fa-regular fa-star" (click)="star3()"></i>
            <i class="star fa-regular fa-star" (click)="star4()"></i>
            <i class="star fa-regular fa-star" (click)="star5()"></i>
          </div>

          <div class="ms-2" *ngIf="star === 1">
            <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
            <i class="star fa-regular fa-star" (click)="star2()"></i>
            <i class="star fa-regular fa-star" (click)="star3()"></i>
            <i class="star fa-regular fa-star" (click)="star4()"></i>
            <i class="star fa-regular fa-star" (click)="star5()"></i>
          </div>

          <div class="ms-2" *ngIf="star === 2">
            <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
            <i class="star fa-regular fa-star" (click)="star3()"></i>
            <i class="star fa-regular fa-star" (click)="star4()"></i>
            <i class="star fa-regular fa-star" (click)="star5()"></i>
          </div>

          <div class="ms-2" *ngIf="star === 3">
            <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star3()"></i>
            <i class="star fa-regular fa-star" (click)="star4()"></i>
            <i class="star fa-regular fa-star" (click)="star5()"></i>
          </div>

          <div class="ms-2" *ngIf="star === 4">
            <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star3()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star4()"></i>
            <i class="star fa-regular fa-star" (click)="star5()"></i>
          </div>

          <div class="ms-2" *ngIf="star === 5">
            <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star3()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star4()"></i>
            <i class="star fa-solid fa-star text-warning" (click)="star5()"></i>
          </div>
        </div>

        <button type="button" class="btn btn-secondary w-100" (click)="addRate()" [disabled]="comment === '' || star === 0">Đăng</button>
      </div>
    </div>

    <!-- List available rooms -->
    <div class="container" *ngIf="availableRooms.length == 0">
      <h3 class="text-center mb-4">Chưa có phòng trống</h3>
    </div>
    <div class="container-fluid" *ngIf="availableRooms.length != 0">
      <h3 class="text-center mb-4">Danh sách phòng trống</h3>
      <h6>Tổng phòng trống hoàn toàn: {{totallyAvailableRoom}} phòng</h6>
      <h6>Tổng phòng trống một phần: {{partiallyAvailableRoom}} phòng</h6>
      <h6>Tổng chỗ trống: {{availableSlot}} chỗ</h6>

      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">Tên phòng</th>
            <th scope="col">Giá phòng</th>
            <th scope="col" id="md">Tiện ích</th>
            <th scope="col" id="md">Loại phòng</th>
            <th scope="col">Diện tích</th>
            <th scope="col" id="md">Số người ở</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of availableRooms" (click)="viewRoom(dataItem.roomId)" style="cursor: pointer;">
            <!-- Room name -->
            <td><b>{{dataItem.roomName}}</b></td>

            <!-- Price -->
            <td>{{dataItem.pricePerMonth | currency:'VND':'symbol':'3.0'}}</td>

            <!-- Utilities -->
            <td id="md">
              <div class="d-flex">
                <div
                  *ngIf="dataItem.fridge == false && dataItem.kitchen == false && dataItem.washingMachine == false
                  && dataItem.desk == false && dataItem.noLiveWithHost == false && dataItem.bed == false && dataItem.closedToilet == false">
                  <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Không có tiện ích" style="cursor: pointer;">
                    block
                  </span>
                </div>
                <div *ngIf="dataItem.fridge == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Tủ lạnh" style="cursor: pointer;">
                    kitchen
                  </span>
                </div>
                <div *ngIf="dataItem.kitchen == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Bếp" style="cursor: pointer;">
                    multicooker
                  </span>
                </div>
                <div *ngIf="dataItem.washingMachine == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Máy giặt" style="cursor: pointer;">
                    local_laundry_service
                  </span>
                </div>
                <div *ngIf="dataItem.desk == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Bàn ghế" style="cursor: pointer;">
                    desk
                  </span>
                </div>
                <div *ngIf="dataItem.noLiveWithHost == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Không chung chủ" style="cursor: pointer;">
                    gite
                  </span>
                </div>
                <div *ngIf="dataItem.bed == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Giường" style="cursor: pointer;">
                    bed
                  </span>
                </div>
                <div *ngIf="dataItem.closedToilet == true">
                  <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Vệ sinh khép kín" style="cursor: pointer;">
                    wc
                  </span>
                </div>
              </div>
            </td>

            <!-- Room types -->
            <td id="md">{{dataItem.roomType.roomTypeName}}</td>

            <!-- Area -->
            <td>{{dataItem.areaByMeters}} m<sup>2</sup></td>

            <!-- Amount of people -->
            <td id="md">
              <div class="row">
                <div *ngFor='let in of peopleCounter(dataItem.currentAmountOfPeople); let i = index'
                  class="col-12 col-md-1">
                  <i class="fa-solid fa-user"></i>
                </div>
                <div
                  *ngFor='let in of peopleCounter(dataItem.maxAmountOfPeople - dataItem.currentAmountOfPeople); let i = index'
                  class="col-12 col-md-1">
                  <i class="fa-regular fa-user"></i>
                </div>
              </div>
            </td>

            <!-- Room status -->
            <!-- <td>
              <label class="switch me-2">
                <input *ngIf="dataItem.status.statusName === 'Occupied' || dataItem.status.statusName === 'Disabled'"
                  type="checkbox">
                <input *ngIf="dataItem.status.statusName === 'Available'" type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              <span *ngIf="dataItem.status.statusName === 'Available'">Còn trống</span>
              <span *ngIf="dataItem.status.statusName === 'Occupied'">Đã thuê</span>
              <span *ngIf="dataItem.status.statusName === 'Disabled'">Không dùng được</span>
            </td> -->
          </tr>
        </tbody>
      </table>
      <!-- End List of Rooms -->
    </div>
  </div>

  <button type="button" class="floating-btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
    data-bs-whatever="@getbootstrap">
    <i class="fa-solid fa-flag"></i>
  </button>

  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #FF6F3D;">
          <h5 class="modal-title text-white" id="exampleModalLabel">Báo cáo nhà trọ</h5>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form novalidate>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Lý do:</label>
              <textarea type="text" rows="5" class="form-control" id="message-text" name="inputReportContent"
                [(ngModel)]="inputReportContent"></textarea>
              <div class="modal-footer d-flex justify-content-center text-white" style="border-color: none;">
                <button (click)="sendReport()" type="button" class="btn text-white" style="background-color: #FF6F3D;"
                  data-bs-dismiss="modal" [disabled]="!inputReportContent">Báo
                  cáo</button>
              </div>
            </div>

          </form>
        </div>

      </div>
    </div>
  </div> -->
</div>
<app-footer></app-footer>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="orderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="orderModalLabel">Báo cáo nhà trọ</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <!-- name -->
            <div class="col-12">Lý do
              <textarea type="text" rows="5" class="form-control" id="message-text" name="inputReportContent"
                [(ngModel)]="inputReportContent"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="sendReport()" id="btnAdd" type="button" class="btn text-white" data-bs-dismiss="modal"
          [disabled]="!inputReportContent">Báo
          cáo</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
    <swal #reportSuccessAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
      title="Gửi báo cáo thành công" icon="success">
    </swal>
    <swal #rateSuccessAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Bình luận thành công" icon="success">
</swal>
<swal #rateErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Vui lòng đăng nhập để xử dụng tính năng này!" icon="error">
</swal>
