.floating-btn {
  width: 60px;
  height: 60px;
  background-color: #FF0000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  color: #ffffff;
  font-size: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  position: fixed;
  right: 20px;
  bottom: 20px;
  transition: background 0.25s;
  border: none;
  z-index: 999999;
}

// Floating button
.floating-btn:active {
  background: #990000;
}

.roomCardItem {
  cursor: pointer;
  margin: 10px 0;

  .card-body {
    background-color: #3E4F3C !important;
  }
}

.phoneOn {
  cursor: pointer;
  text-decoration: none;
}

.phoneOn :hover {
  opacity: 0.5;
}

.phoneOff {
  text-decoration: none;
  color: black;
}

// Rates & Comments

// Orange color for components
.colorOrange {
  color: #ee4d2d;
}

// small text
.smallText {
  font-size: 10pt;
}

// landlord reploy
.lightGrayBackground {
  background-color: #eeeeee;
}


// Create Rate & Comment
.star {
  cursor: pointer;
}

.star:hover {
  opacity: 0.8;
}

// Responsive
@media only screen and (max-width: 768px) {
  #md {
    display: none;
  }

  #img {
    height: 370px !important;
  }
}

@media only screen and (max-width: 576px) {
  #md {
    display: none;
  }

  #img {
    height: 270px !important;
  }
}

@media only screen and (max-width: 992px) {
  #img {
    height: 270px !important;
  }
}

@media only screen and (max-width: 1200px) {
  #img {
    height: 300px !important;
  }
}

#btn:hover {
  background-color: rgb(180, 180, 180);
  border-radius: 5px;
}

#btn:active {
  background-color: rgb(147, 147, 147);
  border-radius: 5px;
}

.modal-header {
  background-color: #ee4d2d !important;
}

#btnAdd {
  background-color: #ee4d2d !important;
  border-color: #ee4d2d !important;
}

#btnAdd:hover {
  background-color: #e73310 !important;
  border-color: #e73310 !important;
}

.houseImage {
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  height: 450px;
  width: 100%;
}