<app-header></app-header>

<!-- Breadcrumb -->
<nav class="mx-1 mx-md-5 mt-3 fs-6" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="text-danger" href="/home">Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chi tiết nhà trọ</li>
  </ol>
</nav>

<!-- Display Loading Spinner when House Detail is not yet loaded -->
<div class="container-fluid d-flex justify-content-center my-5"
  *ngIf="houseDetail === undefined || landlordDetail === undefined">
  <mat-spinner color="warn"></mat-spinner>
</div>

<!-- Only Display when House Detail is loaded -->
<div class="mx-1 mx-md-5 mb-5 mt-3" *ngIf="houseDetail && landlordDetail">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-6 mb-2">
      <!-- House images -->
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
          <div *ngIf="i > 1" class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
        </div>
        <div class="carousel-inner rounded">
          <div class="carousel-item active" *ngIf="houseDetail.imagesOfHouses">
            <img id="img" src="{{houseDetail.imagesOfHouses[0].imageLink}}" class="w-100" height="450" alt="...">
          </div>
          <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
            <div class="carousel-item" *ngIf="i >= 1">
              <img id="img" src="{{image.imageLink}}" class="w-100" height="450" alt="...">
            </div>
          </div>
        </div>
        <div *ngFor="let image of houseDetail.imagesOfHouses; let i=index;">
          <div *ngIf="i > 1">
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>

      <!-- House detail information-->
      <div class="house-information border border-secondary rounded p-2 mt-2">
        <h3 class="text-center">{{houseDetail.houseName}}</h3>

        <div class="row">
          <div class="col-12 col-md-6">
            <div>
              <div>
                <b>Địa chỉ: </b>{{houseDetail.address.addresses}}
              </div>
              <div class="ms-2">Thôn/Xóm: {{houseVillage}}</div>
              <div class="ms-2">Phường/Xã: {{houseCommune}}</div>
              <div class="ms-2">Huyện/Quận: {{houseDistrict}}</div>
              <div class="ms-2">Cơ sở: {{houseCampus}}</div>
              <div class="ms-2">Khoảng cách đến trường: {{houseDetail.distanceToCampus}} km</div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div><b>Giá điện: </b> {{houseDetail.powerPrice}} VNĐ/kWh</div>
            <div><b>Giá nước: </b> {{houseDetail.waterPrice}} VNĐ/m3</div>
            <div>
              <div><b>Tiện ích: </b></div>
              <div class="ms-2" *ngIf="houseDetail.fingerprintLock">Khóa vân tay</div>
              <div class="ms-2" *ngIf="houseDetail.camera">Camera</div>
              <div class="ms-2" *ngIf="houseDetail.parking">Chỗ để xe</div>
            </div>
            <div>
              <div><b>Thông tin khác: </b>{{houseDetail.information}}</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div>
            <b>Bản đồ:</b>
            <!-- Google Map Location -->
            <div *ngIf="mapUrl">
              <iframe id="googleMap" class="w-100 h-100" [src]="mapUrl | safe" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6">
      <!-- Landlord information -->
      <div class="landlordInformation border border-secondary rounded p-2">
        <h3 class="text-center">Thông tin chủ trọ</h3>
        <!-- Other information -->
        <span>
          <b>Họ và tên: </b>
          {{landlordDetail.displayName}}
        </span>
        <br>
        <span>
          <b>Facebook: </b>
          <a href="{{landlordDetail!.facebookUrl}}">{{landlordDetail!.facebookUrl}}</a>
        </span>
        <br>
        <span>
          <b>Số điện thoại: </b>
          <a class="phoneOn" (click)="phoneNumDisplay = true" *ngIf="phoneNumDisplay == false">Click để hiển thị</a>
          <span class="phoneOff" *ngIf="phoneNumDisplay == true">{{landlordDetail!.phoneNumber}}</span>
        </span>
        <br>
        <span>
          <b>Địa chỉ: </b>
          {{landlordDetail!.address.addresses}}
        </span>
      </div>

      <!-- Rate and comment -->
      <div class="border border-secondary rounded p-2 mt-2">
        <h3 class="text-center">Đánh giá</h3>

        <!-- List comments -->
        <div class="mb-2 p-2" style="overflow-y: auto; height: 424px;">
          <!-- Case: No Comment -->
          <div *ngIf="rates.length === 0">
            Chưa có đánh giá
          </div>

          <!-- Case: Have Comment -->
          <div *ngFor="let rate of rates">
            <div class="row me-1">
              <div class="col-1 p-0">
                <!-- Icon -->
                <div class="colorOrange fs-2 text-end pe-2">
                  <i class="fa-solid fa-circle-user"></i>
                </div>
              </div>

              <div class="col-11">
                <!-- Name -->
                <!-- <div class="row smallText">
                  {{rate.studentId}}
                </div> -->

                <!-- Rate -->
                <div class="row">
                  <span *ngIf="rate.star === 1" class="p-0">
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                  </span>
                  <span *ngIf="rate.star === 2" class="p-0">
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                  </span>
                  <span *ngIf="rate.star === 3" class="p-0">
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                  </span>
                  <span *ngIf="rate.star === 4" class="p-0">
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-regular fa-star text-warning"></i>
                  </span>
                  <span *ngIf="rate.star === 5" class="p-0">
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                    <i class="fa-solid fa-star text-warning"></i>
                  </span>
                </div>

                <!-- Date -->
                <div class="row smallText text-secondary mb-2">
                  {{rate.createdDate | date:'short'}}
                </div>

                <!-- Comment -->
                <div class="row">
                  {{rate.comment}}
                </div>

                <!-- Landlord reply -->
                <div class="row lightGrayBackground mt-2 p-1" *ngIf="rate.landlordReply !== null">
                  <div class="my-1 fw-semibold">
                    Phản hồi của Chủ trọ
                  </div>
                  <div>{{rate.landlordReply}}</div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>

        <!-- Create Rate & Comment -->
        <div class="p-2">
          <h5 class="fw-semibold">
            Đánh giá:
          </h5>

          <div class="my-2 d-flex">
            <div *ngIf="star === 0">
              <i class="star fa-regular fa-star text-warning" (click)="star1()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star2()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star3()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star4()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star5()"></i>
            </div>

            <div *ngIf="star === 1">
              <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star2()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star3()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star4()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star5()"></i>
            </div>

            <div *ngIf="star === 2">
              <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star3()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star4()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star5()"></i>
            </div>

            <div *ngIf="star === 3">
              <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star3()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star4()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star5()"></i>
            </div>

            <div *ngIf="star === 4">
              <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star3()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star4()"></i>
              <i class="star fa-regular fa-star text-warning" (click)="star5()"></i>
            </div>

            <div *ngIf="star === 5">
              <i class="star fa-solid fa-star text-warning" (click)="star1()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star2()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star3()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star4()"></i>
              <i class="star fa-solid fa-star text-warning" (click)="star5()"></i>
            </div>
          </div>

          <textarea type="text" class="form-control mb-2" aria-label="Username" aria-describedby="basic-addon1"
            [(ngModel)]="comment"></textarea>

          <button type="button" id="btnAdd" class="btn text-white w-100" (click)="addRate()"
            [disabled]="comment === '' || star === 0">
            Đăng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- List available rooms -->
  <div class="row d-flex justify-content-center mt-5">
    <div class="container" *ngIf="availableRooms.length == 0">
      <h3 class="text-center mb-4">Chưa có phòng trống</h3>
    </div>

    <div class="container-fluid" *ngIf="availableRooms.length != 0">
      <h3 class="text-center mb-4">Danh sách phòng trống</h3>
      <h6>Tổng chỗ trống: {{availableSlot}} chỗ</h6>
      <h6>Tổng phòng chưa ai thuê: {{totallyAvailableRoom}} phòng</h6>
      <h6>Tổng phòng tìm người ở ghép: {{partiallyAvailableRoom}} phòng</h6>

      <table class="table table-hover mt-4">
        <thead>
          <tr>
            <th scope="col">Tên phòng</th>
            <th scope="col">Giá phòng</th>
            <th scope="col" id="md">Tiện ích</th>
            <th scope="col" id="md">Loại phòng</th>
            <th scope="col">Diện tích</th>
            <th scope="col" id="md">Số người ở</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of availableRooms" (click)="viewRoom(dataItem.roomId)" style="cursor: pointer;">
            <!-- Room name -->
            <td><b>{{dataItem.roomName}}</b></td>

            <!-- Price -->
            <td>{{dataItem.pricePerMonth | currency:'VND':'symbol':'3.0'}}</td>

            <!-- Utilities -->
            <td id="md">
              <div class="d-flex">
                <div
                  *ngIf="dataItem.fridge == false && dataItem.kitchen == false && dataItem.washingMachine == false
                  && dataItem.desk == false && dataItem.noLiveWithHost == false && dataItem.bed == false && dataItem.closedToilet == false">
                  <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Không có tiện ích" style="cursor: pointer;">
                    block
                  </span>
                </div>
                <div *ngIf="dataItem.fridge == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Tủ lạnh" style="cursor: pointer;">
                    kitchen
                  </span>
                </div>
                <div *ngIf="dataItem.kitchen == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Bếp" style="cursor: pointer;">
                    multicooker
                  </span>
                </div>
                <div *ngIf="dataItem.washingMachine == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Máy giặt" style="cursor: pointer;">
                    local_laundry_service
                  </span>
                </div>
                <div *ngIf="dataItem.desk == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Bàn ghế" style="cursor: pointer;">
                    desk
                  </span>
                </div>
                <div *ngIf="dataItem.noLiveWithHost == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Không chung chủ" style="cursor: pointer;">
                    gite
                  </span>
                </div>
                <div *ngIf="dataItem.bed == true">
                  <span class="material-symbols-outlined me-2" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Giường" style="cursor: pointer;">
                    bed
                  </span>
                </div>
                <div *ngIf="dataItem.closedToilet == true">
                  <span class="material-symbols-outlined" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Vệ sinh khép kín" style="cursor: pointer;">
                    wc
                  </span>
                </div>
              </div>
            </td>

            <!-- Room types -->
            <td id="md">{{dataItem.roomType.roomTypeName}}</td>

            <!-- Area -->
            <td>{{dataItem.areaByMeters}} m<sup>2</sup></td>

            <!-- Amount of people -->
            <td id="md">
              <div class="row">
                <div *ngFor='let in of peopleCounter(dataItem.currentAmountOfPeople); let i = index'
                  class="col-12 col-md-1">
                  <i class="fa-solid fa-user"></i>
                </div>
                <div
                  *ngFor='let in of peopleCounter(dataItem.maxAmountOfPeople - dataItem.currentAmountOfPeople); let i = index'
                  class="col-12 col-md-1">
                  <i class="fa-regular fa-user"></i>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- End List of Rooms -->
    </div>
  </div>

  <!-- Floating Button: open modal Report House -->
  <button type="button" class="floating-btn" data-bs-toggle="modal" data-bs-target="#reportModal"
    data-bs-whatever="@getbootstrap">
    <i class="fa-solid fa-flag"></i>
  </button>
</div>
<!-- <app-footer></app-footer> -->

<!-- Modal: Report House -->
<div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-white">
        <h5 class="modal-title" id="reportModalLabel">Báo cáo nhà trọ</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <!-- name -->
            <div class="col-12">Lý do
              <textarea type="text" rows="5" class="form-control" id="message-text" name="inputReportContent"
                [(ngModel)]="inputReportContent"></textarea>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button (click)="sendReport()" id="btnAdd" type="button" class="btn text-white" data-bs-dismiss="modal"
          [disabled]="!inputReportContent">Báo
          cáo</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
      </div>
    </div>
  </div>
</div>

<!-- Alerts -->
<swal #reportSuccessAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Gửi báo cáo thành công" icon="success">
</swal>
<swal #reportErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Vui lòng đăng nhập để sử dụng tính năng này!" icon="error">
</swal>
<swal #rateSuccessAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Bình luận thành công" icon="success">
</swal>
<swal #rateErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Vui lòng đăng nhập để sử dụng tính năng này!" icon="error">
</swal>
<swal #rateDuplicateErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Bạn đã đánh giá nhà trọ này rồi!" icon="error">
</swal>
<swal #rateRoleErrorAlert [toast]="true" position="top-end" [timer]="3000" [timerProgressBar]="true"
  title="Chỉ sinh viên có thể sử dụng tính năng này!" icon="error">
</swal>