<!-- Display Loading Spinner when House Detail is not yet loaded -->
<div class="container-fluid" *ngIf="houseDetail === undefined || landlordDetail === undefined">
  <div class="spinner-border text-danger" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Only Display when House Detail is loaded -->
<div class="container-fluid my-5 d-flex justify-content-center" *ngIf="houseDetail && landlordDetail">
  <div class="row w-100 d-flex justify-content-around">
    <div class="col-12 col-md-7">
      <!-- House images -->
      <img id="houseImage" src="../../assets/image/HouseImage.jpg" alt="..." width="100%" class="rounded">

      <!-- House detail information-->
      <div class="house-information border border-secondary rounded mt-5 p-2">
        <h3 class="text-center">{{houseDetail!.houseName}}</h3>
        <span><b>Giá điện: </b> {{houseDetail!.powerPrice}}/kWh</span>
        <br>
        <span><b>Giá nước: </b> {{houseDetail!.waterPrice}}/m3</span>
        <br>
        <span><b>Địa chỉ: </b>{{houseDetail!.address!.addresses}}</span>
        <br>
        <span><b>Thông tin khác: </b>{{houseDetail!.information}}</span>
      </div>

      <!-- Google map -->
      <div>
        <iframe id="googleMap" class="w-100 h-25 my-5 border border-secondary rounded"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.995814709238!2d105.51943301488284!3d20.992804886017904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345bae7a5f0d39%3A0xec177bce6cdc3a46!2zSG_DoCBM4bqhYyBBcGFydG1lbnQ!5e0!3m2!1svi!2s!4v1665457315377!5m2!1svi!2s"
          allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <!-- Landlord information -->
      <div class="landlordInformation border border-secondary rounded p-2">
        <h3 class="text-center">Thông tin chủ trọ</h3>
        <!-- Landlord's avatar -->
        <div class="d-flex justify-content-center align-items-center my-3">
          <img src="../../assets/image/LandlordAvatar.jpg" alt="Landlord's avatar" width="250px" height="200px" class="rounded">
        </div>
        <!-- Other information -->
        <span>
          <b>Họ và tên: </b>
          {{landlordDetail.displayName}}
        </span>
        <br>
        <span>
          <b>Facebook: </b>
          <a href="{{landlordDetail!.facebookUrl}}">{{landlordDetail!.facebookUrl}}</a>
        </span>
        <br>
        <span>
          <b>Số điện thoại: </b>
          {{landlordDetail!.phoneNumber}}
        </span>
        <br>
        <span>
          <b>Địa chỉ: </b>
          {{landlordDetail!.address.addresses}}
        </span>
      </div>

      <!-- Rate and comment -->
      <div class="my-5 border border-secondary rounded p-2">
        <h3 class="text-center">Người dùng đánh giá</h3>
        Bình luận:
        <div class="bg-light border border-secondary rounded mb-2 p-2">
          Nguyễn Văn A: Đẹp, gần trường (<i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>)
          <br> <i class="fa-solid fa-arrow-right"></i> Chủ trọ trả lời: Cảm ơn bạn nhiều
        </div>
        Viết bình luận:
        <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
        <div class="my-2 d-flex">
          Đánh giá:
          <div class="ms-2">
            <i class="star fa-regular fa-star"></i>
            <i class="star fa-regular fa-star"></i>
            <i class="star fa-regular fa-star"></i>
            <i class="star fa-regular fa-star"></i>
            <i class="star fa-regular fa-star"></i>
          </div>
        </div>

        <button type="button" class="btn btn-secondary w-100">Đăng</button>
      </div>
    </div>

    <!-- List available rooms -->
    <div class="container col-12">
      <h3 class="text-center mb-4">Danh sách phòng trống</h3>

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Tên phòng</th>
            <th scope="col">Giá phòng</th>
            <th scope="col">Diện tích</th>
            <th scope="col">Số người ở</th>
            <th scope="col">Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dataItem of availableRooms">
            <!-- Room name -->
            <td><b>{{dataItem.roomName}}</b></td>

            <!-- Price -->
            <td>{{dataItem.pricePerMonth | currency:'VND':'symbol':'3.0'}}</td>

            <!-- Area -->
            <td>{{dataItem.areaByMeters}} m<sup>2</sup></td>

            <!-- Amount of people -->
            <td>
              <div class="d-flex">
                <div *ngFor='let in of peopleCounter(dataItem.currentAmountOfPeople); let i = index'>
                  <i class="fa-solid fa-user me-1"></i>
                </div>
                <div *ngFor='let in of peopleCounter(dataItem.maxAmountOfPeople - dataItem.currentAmountOfPeople); let i = index'>
                  <i class="fa-regular fa-user me-1"></i>
                </div>
              </div>
            </td>

            <!-- Room status -->
            <td>
              <!-- <label class="switch me-2">
                <input *ngIf="dataItem.status.statusName === 'Occupied' || dataItem.status.statusName === 'Disabled'"
                  type="checkbox">
                <input *ngIf="dataItem.status.statusName === 'Available'" type="checkbox" checked>
                <span class="slider round"></span>
              </label> -->
              <span *ngIf="dataItem.status.statusName === 'Available'">Còn trống</span>
              <span *ngIf="dataItem.status.statusName === 'Occupied'">Đã thuê</span>
              <span *ngIf="dataItem.status.statusName === 'Disabled'">Không dùng được</span>
            </td>

            <td>
              <!-- Detail button -->
              <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#updateModal"
                data-whatever="@getbootstrap" (click)="viewRoom(dataItem.roomId)">Xem chi tiết</button>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- End List of Rooms -->
    </div>
  </div>

  <button type="button" class="floating-btn" data-toggle="modal" data-target="#exampleModal"
    data-whatever="@getbootstrap">
    <i class="fa-solid fa-flag"></i>
  </button>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #FF6F3D;">
          <h5 class="modal-title text-white" id="exampleModalLabel">Báo cáo nhà trọ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Lý do:</label>
              <textarea class="form-control" id="message-text"
                #inputReportContent></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer d-flex justify-content-center text-white" style="border-color: none;">
          <button (click)="sendReport(inputReportContent.value)" type="button" class="btn text-white"
            style="background-color: #FF6F3D;" data-dismiss="modal">Báo
            cáo</button>
        </div>
      </div>
    </div>
  </div>
</div>
