<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header d-flex justify-content-center orangeBackround text-white">
              <h5 class="modal-title" id="updateModalLabel">Xác nhận xóa nhà trọ</h5>
          </div>
          <div class="modal-body">
            Bạn chắc chắn muốn xóa nhà trọ này?
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary w-25 me-3" data-bs-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-danger w-25" (click)="deleteHouse()">Xóa</button>
          </div>
      </div>
  </div>
</div>
