<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav</title>
  <link rel="stylesheet" href="app.component.scss">
</head>

<body>
  <!--Header-->
  <nav class="navbar navbar-light d-flex justify-content-between text-center text-white"
    style="background-color: #FF6F3D;">
    <div>
      <!-- Link back to Home -->
      <a routerLink="/home" id="app-name">
        <img src="/assets/image/Logo.png" alt="..." width="100px">
        <h5>FU House Finder</h5>
      </a>
    </div>

    <div>
      <h1>TÌM TRỌ SINH VIÊN FPT</h1>
      <div>
        <a href="" class="text-white text-decoration-none mx-2">Trang chủ</a>|
        <a href="" class="text-white text-decoration-none mx-2">Cơ sở</a>|
        <a href="" class="text-white text-decoration-none mx-2">Liên hệ</a>|
        <a href="" class="text-white text-decoration-none mx-2">Giới thiệu</a>
      </div>
    </div>

    <div>
      <button id="loginButton" routerLink="/login">Đăng nhập</button>
    </div>
  </nav>

  <!-- include -->
  <router-outlet></router-outlet>


  <!--Footer-->
  <div class="container-fluit d-flex justify-content-between text-center text-white p-3 footer">
    <div>
      <img src="../assets/image/logo-fpt.png" alt="Logo FPT Education" height="70">
    </div>
    <div class="news">
      <ul>
        <li><b>Tin tức</b></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/hoc-tap-khac-biet" target="_blank">Học tập khác biệt</a></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/moi-truong-giau-trai-nghiem" target="_blank">Môi trường giàu trải nghiệm</a></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/da-dang-sac-mau-quoc-te" target="_blank">Đa dạng màu sắc quốc tế</a></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/thanh-cong-sau-tot-nghiep" target="_blank">Thành công sau tốt nghiệp</a></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/fpt-edu-chuyen-dat-nguoi" target="_blank">FPT Edu - Chuyện đất & người</a></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/fpt-edu-tin-tuc-chung" target="_blank">FPT Edu - Tin tức chung</a></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/ban-chuyen-giao-duc" target="_blank">Bàn chuyên giáo dục</a></li>
        <li><a href="https://fpt.edu.vn/tin-tuc/phuc-vu-cong-dong" target="_blank">Phục vụ cộng đồng</a></li>
      </ul>
    </div>

    <div class="admission">
      <ul>
        <li><b>Tuyển sinh</b></li>
        <li><a href="https://fpt.edu.vn/don-vi/dai-hoc-fpt.html" target="_blank">Đại học FPT</a></li>
        <li><a href="https://fpt.edu.vn/don-vi/greenwich-viet-nam.html" target="_blank">Greenwich Việt Nam</a></li>
        <li><a href="https://fpt.edu.vn/don-vi/swinburne-viet-nam.html" target="_blank">Swinburne Việt Nam</a></li>
        <li><a href="https://fpt.edu.vn/don-vi/cao-dang-fpoly.html" target="_blank">Cao đẳng FPT Polytechnic</a></li>
        <li><a href="https://fpt.edu.vn/don-vi/vien-dao-tao-quoc-te.html" target="_blank">Viện Đào tạo Quốc tế FPT</a></li>
        <li><a href="https://fpt.edu.vn/don-vi/melbourne-polytechnic-vietnam.html" target="_blank">Melbourne Polytechnic Việt Nam</a></li>
      </ul>
    </div>

    <div class="internationalStudent">
      <ul>
        <li><b>Sinh viên quốc tế</b></li>
        <li><a href="https://fpt.edu.vn/don-vi/sinh-vien-quoc-te.html" target="_blank">Ngắn hạn</a></li>
        <li><a href="https://fpt.edu.vn/don-vi/sinh-vien-quoc-te.html" target="_blank">Dài hạn</a></li>
      </ul>
    </div>

    <div class="copyright" >
      <div >
        <b>FPT Education</b>
        <br>
        <span>Hoa Lac High Tech Park, Hanoi, vietnam</span>
        <br>
        <span>Email: fpteducation@fe.edu.vn</span>
      </div>
      <div>
        <a href="https://www.facebook.com/educationfpt/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.youtube.com/user/FPTUniversityChannel" target="_blank"><i class="fa-brands fa-youtube"></i></a>
        <br>
        <a>Sitemap website</a>
      </div>
      <div>
        Copyright © 2017 FPT Education
      </div>
    </div>
  </div>
</body>

</html>
