<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nav</title>
  <link rel="stylesheet" href="app.component.scss">
</head>

<body>
  <!--Header-->
  <nav class="navbar navbar-light d-flex justify-content-between text-center text-white"
    style="background-color: #FF6F3D;">
    <div>
      <!-- Link back to Home -->
      <a routerLink="/home">
        <img src="/assets/image/Logo.png" alt="..." width="100px">
        <h5>FU House Finder</h5>
      </a>
    </div>

    <div>
      <h1>TÌM TRỌ SINH VIÊN FPT</h1>
      <div>
        <a href="" class="text-white text-decoration-none mx-2">Trang chủ</a>|
        <a href="" class="text-white text-decoration-none mx-2">Cơ sở</a>|
        <a href="" class="text-white text-decoration-none mx-2">Liên hệ</a>|
        <a href="" class="text-white text-decoration-none mx-2">Giới thiệu</a>
      </div>
    </div>

    <div>
      <button id="loginButton" routerLink="/login">Đăng nhập</button>
    </div>
  </nav>

  <!-- include -->
  <router-outlet></router-outlet>


  <!--Footer-->
  <div class="container-fluit d-flex justify-content-between text-center text-white p-3"
    style="background-color: orangered;">
    <div>
      <img src="https://static.vecteezy.com/system/resources/thumbnails/002/042/706/small/wooden-cartoon-country-house-vector.jpg" alt="" width="50" height="50">
    </div>

    <div>
      FPT Education
    </div>
  </div>
</body>

</html>


<!--
<li *ngFor="let data of campuses">
  {{data.campusName}}
</li> -->
